<div class="token" href="#" onclick="return false;">
	  <span class="x" onclick="<%=remote_function(:url=>account_blog_entry_waxing_url(@account, @blog, @entry, image.waxings[0]), :method=>:delete, :confirm=>"Are you sure you want to detach this image from this article?\n\nAny caption saved with this article will be lost, though you'll still be able to find the image in your archive.", :after=>"new Effect.Fade($(this.parentNode));trigger_flash('<p>Media detached</p>');", :complete=>"new Ajax.Request('#{ account_blog_entry_mediafiles_url(@account, @blog, @entry, :format=>:js) }', {method:'get'});" ) %>; return false;" onmouseover="this.className='x_hover'" onmouseout="this.className='x'">&nbsp;</span>
	  <%= link_to_remote image_tag(image.file.url(:system_thumb), :align=>"right"), :url=>edit_account_blog_entry_mediafile_url(@account, @blog, @entry, image, :format=>:js), :method=>:get %>
	<div id="waxing-<%= image.waxings[0].id %>">
		  <p><strong>Caption:</strong></p>
		  <p><%= link_to_remote ((image.waxings[0].caption.nil? || image.waxings[0].caption.strip =="" ) ? "[Click here to add a caption]" : image.waxings[0].caption), :url=>edit_account_blog_entry_waxing_url(@account, @blog, @entry, image.waxings[0]), :method=>:get %></p>
	</div>
</div>