<h1>Reset your Hot Ink password</h1>

<% form_tag password_resets_url, :method => :post do %>
	<p>To reset your Hot Ink password, just enter your email here. Instructions on how to reset your password will be emailed to you immediately.</p>
	<div class="column_holder clearfix">  
		<div class="third_column left_column">
			<%= label_tag :email %>
		</div>
		<div class="two_thirds_column right_column">
	  		<%= text_field_tag :email, nil, :class => "text_input" %>
		</div>
	</div>
	<div class="column_holder clearfix">  
		<div class="third_column left_column"> </div>
		<div class="two_thirds_column right_column">
	  		<%= button_link_to_submit "Email password update instructions", :class => "large" %>
		</div>
	</div>
<% end %>
