<% form_tag account_user_invitations_url(@account), 'data-remote' => true, 'data-confirm' => "You're about to give a new user access to your account.\n\nAre you sure you want to do this? Press 'OK' to send an invitation.",  :class => "activation_form" do %>	
<fieldset>
	<legend>Add user</legend>
	<p>To add a new user to your account enter their <strong>email address</strong> below.</p>
	<div class="column_holder clearfix">	
		<div class="two_thirds_column">
			<%= text_field_tag "invitation[email]", nil, :class=>"text_input", :id=>"new_user_email" %>
			<small><%= flash[:user_invitation_notice] %></small>
		</div>
		<div class="third_column">
			<img src="/loading_small_white.gif" style="display:none;float:right;margin-left:1em;margin-top:0.5em;" class="spinner"/><%= button_link_to_submit "Add user", :class=>"save large"%>
		</div>
	</div>
</fieldset>
<% end %>