<div id="waxing-<%= @waxing.id %>">
	  <p><strong>Caption:</strong></p>
	  <p><%= link_to_remote ((@waxing.caption.nil?||@waxing.caption.strip=="") ? "[Click here to add a caption]" : @waxing.caption), :url=>edit_account_article_waxing_url(@account, @article, @waxing), :method=>:get %></p>
</div>