<div id="waxing-form-<%= @waxing.id %>">
	  <p><strong>Caption:</strong></p>
	  <p><%= link_to_remote ((@waxing.caption.nil? || @waxing.caption.strip =="" ) ? "[Click here to add a caption]" : @waxing.caption), :url=>edit_account_waxing_url(@account, @waxing), :method=>:get %></p>
</div>