.DS_Store
.bundle
db/*.sqlite3
doc/api
doc/app
log/*.log
log/*.pid
doc/app
doc/README_FOR_APP
tmp/*
public/sounds
public/images
public/system
backups/
config/database.yml
config/ultrasphinx/development.conf
config/development.sphinx.conf
coverage/
db/sphinx
