<h1>Blogs</h1>
<p>
  <% if permit? "(manager of account) or admin" %>
	<%= link_to 'New blog', new_blog_path, :class => "link green" %>
  <% end %>
</p>

<% unless @active_blogs.blank? %>
<ol id="active_blogs" class="blogs grid_12">
	<%= render @active_blogs %>
</ol>
<% end %>

<% unless @inactive_blogs.blank? %>
<ol id="inactive_blogs" class="blogs grid_12">
	<%= render @inactive_blogs %>
</ol>
<% end %>