<% content_for :title, "Blogs" %>
<h1>Blogs</h1>
<div id="actions" class="">
  <% if permit? "(manager of account) or admin" %>
	<%= button_link_to 'New blog', new_blog_path, :class => "primary" %>
  <% end %>
</div>

<% unless @active_blogs.blank? %>
<ol id="active_blogs" class="blogs grid_12">
	<%= render @active_blogs %>
</ol>
<% end %>

<% unless @inactive_blogs.blank? %>
<ol id="inactive_blogs" class="blogs grid_12">
	<%= render @inactive_blogs %>
</ol>
<% end %>
