<h1>Blogs</h1>
<p><%= button_link_to 'Start a new blog', new_account_blog_path(@account) %></p>

<% unless @active_blogs.blank? %>
<ol id="active_blogs" class="blogs grid_12">
	<%= render @active_blogs %>
</ol>
<% end %>

<% unless @inactive_blogs.blank? %>
<ol id="inactive_blogs" class="blogs grid_12">
	<%= render @inactive_blogs %>
</ol>
<% end %>