<h1>Editing audiofile</h1>

<% form_for(@audiofile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @audiofile %> |
<%= link_to 'Back', audiofiles_path %>
