<div id="comment_status_control" class="clearfix">
	<div class="state_control">
		<a href="<%= enable_comments_blog_entry_path(@blog, @entry) %>" class="first enabled<% if @entry.comments_enabled? %> selected<%end%>" data-remote="true" data-method="put">Enabled</a>
		<a href="<%= lock_comments_blog_entry_path(@blog, @entry) %>" class="locked<% if @entry.comments_locked? %> selected<%end%>" data-remote="true" data-method="put">Locked</a>
		<a href="<%= disable_comments_blog_entry_path(@blog, @entry) %>" class="last disabled<% if @entry.comments_disabled? %> selected<%end%>" data-remote="true" data-method="put">Disabled</a>
	</div>
	<p>Status</p>
</div>