<div id="issues" class="index">
	<div class="title_bar clearfix">
		<div class="actions">
			<h1>Print issues</h1>
		 	<%= button_link_to 'New issue', new_account_issue_path(@account) %>
		</div>
	</div>

	<ol>
		<%= render @issues %>
	</ol>

</div>