<div id="printings">
	<div class="box clearfix">
		<h2>Printed in</h2>
		<ul>
			<li class="clearfix">
				<h3>Vol. 555, No. 555</h3>
				<p class="issue_date">Aug 26, 2008</p>
				
			</li>
		</ul>
		<%= link_to_function "+ Add an issue", "alert('Boo')", :class=>"weblink" %>
	</div>
</div>