<li id="account_invitation_<%= account_invitation.id %>" class="<%= cycle("even-row", "odd-row") %> clearfix">
	<span class="email"><%= account_invitation.email %></span>
	<span class="name">Invitation</span>
	<%= link_to "x", account_invitation_url(account_invitation), 'data-remote' => true, 'data-method' => :delete,  :class => "kill_link" %>
</li>