/* Main style */

body { background-color: #F9F9F9; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  line-height: 16px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #3399DE; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Start custom button CSS here
---------------------------------------- */
.btn {
     display:inline-block;
     background:none;
     margin:0;
     padding:3px 0;
     border-width:0;
     overflow:visible;
     font:100%/1.2;
     text-decoration:none;
     color:#333;
     }
   * html button.btn {
     padding-bottom:1px;
     }
   /* Immediately below is a temporary hack to serve the 
      following margin values only to Gecko browsers
      Gecko browsers add an extra 3px of left/right 
      padding to button elements which can't be overriden.
      Thus, we use -3px of left/right margin to overcome this. */
   html:not([lang*=""]) button.btn {
     margin:0 -3px;
     }
   .btn span {
     background:#ddd url(/bg-button.gif) repeat-x 0 0;
     margin:0;
     padding:3px 0;
     border-left:1px solid #bbb;
     border-right:1px solid #aaa;
     }
   * html .btn span {
     padding-top:0;
     }
   .btn span span {
     position:relative;
     padding:3px .4em;
     border-width:0;
     border-top:1px solid #bbb;
     border-bottom:1px solid #aaa;
     }
   
   /* pill classes only needed if using pill style buttons ( LEFT | CENTER | RIGHT ) */
   .pill-l span {
     border-right-width:0;
     }
   .pill-l span span {
     border-right:1px solid #bbb;
     }
   .pill-c span {
     border-right-style:none;
     border-left-color:#fff;
     }
   .pill-c span span {
     border-right:1px solid #bbb;
     }
   .pill-r span {
     border-left-color:#fff;
     }
   
   /* only needed if implementing separate hover/focus/active state for buttons */
   .btn:hover span, .btn:hover span span, .btn:focus span, .btn:focus span span {
     cursor:pointer; /* important for any clickable/pressable element */
     border-color:#9cf !important;
     color:#000;
     }
   .btn:active span {
     background-position:0 -400px;
     outline:none;
     }
   .btn:focus, .btn:active {
     outline:none; /* doesn't seem to be respected for <button>, only <a> */
     }

   /* use if one button should be the 'primary' button */
   .primary {
     font-weight:bold;
     color:#000;
     }
	
  .large {
	font-size: 15px;
	line-height: 1.2;
  }

  .large:active span{
	 background-position:0 -390px;
  }


/* Form style */
#page_container {
	width: 885px;
	padding: 5px;
	padding-left: 10px;
	
	float: left;
	
	border: 2px solid #3399DE;
}

#article_form {
	float:left;

}

.half_column {
	float: left;
	width: 50%;
}

.text_input {
	background: none;
	border: 1px solid #DEDEDE;	
	background-color: #FFF;
	
	color: #555;
}

#article_title {
	width: 100%;
	height: 17px;
	padding: 4px 2px;
	
	font-size: 16px;
}

#article_subtitle {
	width: 100%;
	padding: 4px 2px;
	
	font-size: 13px;
}

#article_bodytext {
	min-width: 600px;
	max-width: 750px;
	height: 200px;
}

#article_bodytext_preview{
	width: 594px;
	height: 200px;
	padding: 0 3px;
	
	overflow: auto;
	
	border: 1px solid #999;
}

#article_bodytext_preview p{
	margin: 5px 0;
	background-color: #FFF;
}

.preview {
	background-color: #FFF;
	
}


#article_summary {
	width: 600px;
	height: 85px;
}

/* Issue form style */

#issue_form {
	width: 240px;
	padding: 10px;
	
	border: 2px solid #3399DE;
}

#issue_form_name_check {

}

#issue_name {
	width: auto;
}

/* Sorting forms styles*/

#account_article_sorting_list ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#account_article_sorting_list .parent{
	margin: 2px;
	padding: 0;
}

#account_article_sorting_list .text_input {
  font-size: 13px;
  width: 98%;
  height: 15px;
}

#account_article_sorting_list .printsection label{
  background-color: yellow;
  padding: 0px 3px;
}

/* Tool box styles */

#tools {
	width: 255px;
	padding: 5px;

	float: right;
	
}

.toolbox {
	width: 255px;
	
	margin-bottom: 10px;
}

.toolbox_border {
	height: 1px;
	margin:0 1px;
	padding:0;
	background-color: #aaa;
	
}

.toolbox_separator {
	height: 1px;
	margin:0 5px;
	padding:0;
	background-color: #aaa;
	
}

.toolbox_label_body {
     background:#ddd url(/bg-button.gif) repeat-x 0 0;
     margin:0;
     padding: 7px 5px 5px 5px;
     overflow:visible;
     font: 100%/1.2;
     text-decoration:none;
     color:#333;
	 border-right: 1px solid #aaa;
	 border-left: 1px solid #bbb;
}
* html .toolbox_label_body{
     padding-bottom:1px;
}

.toolbox_label_body h2 {
	margin: 0;
	font-size: 16px;
}

.toolbox_body {
	margin-top: -1px;
	padding: 5px;
    border-right: 1px solid #aaa;
	border-left: 1px solid #bbb;
	
	background-color: #FFF;
}

.newtag {
	width: 80%;
	margin-right: 4px;
}
