/* Main style */

/* Start table CSS here
---------------------------------------- */

table#record_list {
	border: none;
	max-width: 885px;
	min-width: 850px;
	width: auto;
}

table#record_list thead {
	background:#ddd url(/bg-button.gif) repeat-x 0 0;
    margin:0px;
    padding: 4px 5px 6px 5px;
}

table#record_list th{
	border: 1px solid #3399DE;
}

table#record_list tfoot {
	background:#ddd url(/bg-button.gif) repeat-x 0 0;
    margin:0px;
    padding: 4px 5px 6px 5px;
}

table#record_list tbody {
	vertical-align: top;
}

.even-row {
	background-color: #FFFFFF;
}

.odd-row {
	background-color: #F4F4F4;
}

table#record_list tr {
	padding: 5px 0px;
}

table#record_list td {
	height: 32px;
	padding: 0px 3px;
}

