@import "hotink/buttons.css";
@import "hotink/helpers.css";
@import "hotink/navigation.css";
@import "hotink/modal.css";

body{ font-size: 13.34px; margin: 0; font-family: "lucida grande", Verdana, Helvetica, Arial, sans-serif; }

h1, h2 { padding-bottom: 5px; font-weight: 200; margin: 0; }
ol { list-style-type: none; float: left; padding: 0; margin: 0;}
ol li { padding: 6px 10px; }
a { color: #222; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { color: #777; }

div#page_wrapper { min-height: 100%; height: auto !important; height: 100%; margin-bottom: -30px; /* the bottom margin is the negative value of the footer's height */}
div#page_container { background-color: #FFF; margin: 0 auto; width: 960px; padding: 1em; text-align: left; padding-bottom: 0;  }

div#page_container>h1 { float: left; }

.yourstream { background-color: #CEE4F3; }
.allarticles { background-color: #FFF6DD; }
.recommended { background-color: #DEFFDB; }
.team a, .team a:visited  { color: #515151; }

ol#choices { width: 135px; float: left; clear: left; }
div.colour_wrapper { width: 785px; float: left; border: 3px solid #FFF6DD; -moz-border-radius: 3px; -webkit-border-radius: 3px; position: relative; }

ol#stream_articles { width: 100%; font-size: 11px; }
ol#stream_articles li { position: relative; }
ol#stream_articles li.even { background-color: #EFEFEF; }
ol#stream_articles li+li { border-top: 1px dotted #999; }
ol#stream_articles li.pickedup { background-color: #FFDBDB; }
ol#stream_articles h1 { font-size: 17px; width: 700px; font-weight: bold; }
ol#stream_articles h1 a:visited { color: #51515F;}
ol#stream_articles p.checkout_notice a { color: red; }
ol#stream_articles h2 { font-size: 13px; }
ol#stream_articles p { margin: 2px; float: left; }
ol#stream_articles div.media { float: right; margin: 0 100px 0 25px;  }
ol#stream_articles p.word_count { float: right; clear: right; width: 75px; }
ol#stream_articles p.date { float: right; font-size: 15px; height: 100%; width: 75px; color: #999; }
ol#stream_articles p.date+p+p { float: none; font-size: 9px; color: green; margin-bottom: 3px; }
ol#stream_articles p.authors, ol#stream_articles p.checkout_notice { padding: 2px 0; }

ol#stream_articles p.account { float: left; padding: 2px 3px; font-weight: 400; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.color_0 { background-color: #7991FF; color: white; }
.color_1 { background-color: #FF7C41; color: white; }
.color_2 { background-color: #2A6328; color: white; }
.color_3 { background-color: #E0526A; color: white; }
.color_4 { background-color: #402013; color: #FFF569; }
.color_5 { background-color: #6C3CC2; color: white; }
.color_6 { background-color: #D50700; color: white; }
.color_7 { background-color: #D2D5CB; color: #07099A; }
.color_8 { background-color: #FFF569; color: #402013; }
.color_9 { background-color: #AAE0DE; color: #0F2458; }


div#statusbar, div#footerbar { float: left; width: 930px; margin-bottom: 3px; }
div.pagination { text-align: right; margin: 8px 0; }

div.article { width: 700px; font-size: 14px; padding: 0 5px; color: #222; line-height: 1.5; }
div.article h1 { font-weight: bold; }
div.article h2 { font-size: 140%; }
div.article p.authors { font-weight: bold; }
div.article p.account { font-size: 15px; font-weight: bold; }
div#article_checkout p, div.media_thumbs p { font-size: 11px; }
div#article_checkout, div.media_thumbs { float:right; clear: right; width: 400px; padding: 10px; margin: 5px 0 5px 15px; background-color: #CEE4F3; border: 1px solid #DEDEDE;  -moz-border-radius: 3px; -webkit-border-radius: 3px;}
div#article_checkout h4 { margin: 0; }
div#article_checkout a { font-weight: bold; text-decoration: underline; }
div#article_checkout.checked_out { background-color: #DEFFDB; }
div#article_checkout input[type="submit"] { font-size: 17px; margin-right: 20px; margin-bottom: 5px; }
div.article .media_thumbs h3 { margin-top:0;}

#dash30 { font-weight: bold; text-align: center; }


#accounts li h1 { font-size: 18px; }

.footer { float:left; width: 960px; margin-top: 20px; margin-bottom: 10px; text-align: right; font-size: 0.8em;}

/* Pagination */

.next_page { margin-left: 5px;}
.next_page, .prev_page { outline: none; font-size: 11px; padding: 3px; color: #515151; background-color: #FFF6DD; border: 1px solid #515151;-moz-border-radius: 3px; -webkit-border-radius: 3px; }
.next_page:visited, .prev_page:visited { color: black; }
.next_page:hover, .prev_page:hover { text-decoration: none; background-color: #CEE4F3; }
.next_page:active, .prev_page:active { background-color: #EEF4FF; }

/* Overlay css */

#overlay{ position: absolute; top: 0; left: 0; z-index: 900; width: 100%; height: 500px; background-color: #000; }
#overlaybox{ position: absolute; left: 0; width: 100%; z-index: 1000; text-align: center; }
#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0;}
#overlay_container{ position: relative; width: 250px; height: 250px; background-color: #fff; margin: 0 auto;}
#overlay_content { width: auto; margin-bottom: 0; text-align: left; padding: 5px; background-color: #fff; border: 1px solid #515151;}
.close_button  { float: right; background-image: url('/images/token_x_red.gif'); width: 10px; height: 10px; margin: 0; margin-right: 0.125em; display: inline-block; font-size: 1em; }
.close_button a { color: #FFF; display: inline-block; width: 100%;height: 100%;}
div.small_top_button { display: block; position: relative; top: -13px; left: 17px; clear:left; float: right; height: 0px; overflow: visible; }
div.small_top_button a { padding: 5px; }
div.small_top_button a img { width: 18px; border: none; }


#footer_push { height: 30px; /* #footer_push must be the same height as #footer */  }
#footer { width: 99%; height: 30px; float:left; margin-left: 0.5em; font-size: 1em; color: #FFF6DD; font-weight: normal; padding-right: 1%;background-color: #222; text-align: right; border-right: 1px solid #DDD;}
#footer p { margin: 0.7em 0; float: right;}

