/* Main style */

body { background-color: #F9F9F9; color: #333; margin: 0 auto; text-algin: center;}
body, p, ol, ul, td { font-family: "lucida grande", verdana, arial, helvetica, sans-serif; font-size: 13.34px; line-height: 1.2em; }
div#page_container { margin-left: auto;  margin-right: auto; max-width: 69em; padding: 0.5em; text-align: left; }
pre { background-color: #eee; padding: 10px; font-size: 11px; }

a { text-decoration:none; color: #000; }
a:visited { color: #333; }
a:hover { color: #3399DE; }

a.weblink { text-decoration: underline;}

.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}

.hidden { display:none;}
.user { font-family: georgia, "Times New Roman", times, serif;}

.translucent  {
		filter: alpha(opacity=75); /* internet explorer */
		-khtml-opacity: 0.75;      /* khtml, old safari */
		-moz-opacity: 0.75;       /* mozilla, netscape */
		opacity: 0.75;           /* fx, safari, opera */
}
.even-row { background-color: #FAFAFA; }
.odd-row { background-color: #F1F1F1; }
.red { color: #E62424; }
.green { color: green; }

.fieldWithErrors { padding: 2px; background-color: red; display: table; }
#errorExplanation { width: 400px; border: 2px solid red; padding: 7px; padding-bottom: 12px; margin-bottom: 20px; background-color: #f0f0f0; }
#errorExplanation h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px; background-color: #c00; color: #fff;}
#errorExplanation p { color: #333; margin-bottom: 0; padding: 5px; }
#errorExplanation ul li { font-size: 12px; list-style: square;}

/* faq styles */

.faq { font-size: 11px; }
.question { font-weight:bold; }
dl.faq {  }
dl.faq dt {font-weight: bold;}

/* Start of custom button CSS
---------------------------------------- */
.btn { display:inline-block !important; background:none; margin:0; padding:3px 0; border-width:0; overflow:visible; font:100%/1.2; text-decoration:none; color:#333; }
* html button.btn { padding-bottom:1px; }
.btn span { background:#ddd url('/images/bg-button.gif') repeat-x 0 0; margin:0; padding:3px 0; border-left:1px solid #bbb; border-right:1px solid #aaa; }
* html .btn span {  padding-top:0; }
.btn span span { position:relative; padding:3px .4em; border-width:0; border-top:1px solid #bbb; border-bottom:1px solid #aaa; }
  
.btn:hover span, .btn:hover span span, .btn:focus span, .btn:focus span span { cursor:pointer; border-color:#9cf !important; color:#000; }
.btn:active span { background-position:0 -400px; outline:none; }
.btn:focus, .btn:active { outline:none; /* doesn't seem to be respected for <button>, only <a> */ }
 
/* pill classes only needed if using pill style buttons ( LEFT | CENTER | RIGHT ) */
.pill-l span { border-right-width:0; }
.pill-l span span { border-right:1px solid #bbb; }
	
.pill-c span { border-right-style:none; border-left-color:#fff; }
.pill-c span span { border-right:1px solid #bbb; }
	
.pill-r span { border-left-color:#fff; }

/* tab classes only needed if using tab style buttons ( TOP | BOTTOM ) */
.tab-t { padding: 1px 0px; }
.tab-t span { border-bottom: 1px solid #DEDEDE; }
.tab-t span span { border-bottom-width:0; padding: 1px .4em; }

.tab-b { padding: 1px 0px; }
.tab-b span { border-top: 1px solid #DEDEDE; } 
.tab-b span span { border-top-width:0; padding: 1px .5em; }

/* use if one button should be the 'primary' button */
.primary { font-weight:bold; color:#000; }
	
/* Save buttons use a blue background, as opposed to a grey one.*/
.save { color: #FFF; }
.save:hover span, .save:hover span span, .save:focus span, .save:focus span span  { color: #CCC; }
.save:active span { background-position:0 -398px; outline:none; }
.save span{ background:#699DE3 url('/images/bg-button-blue.gif') repeat-x 0 0; }
	
/* Cancel buttons use a red background, as opposed to a grey one.*/
.cancel { color: #FFF; }
.cancel:hover span, .cancel:hover span span, .cancel:focus span, .cancel:focus span span{ color: #CCC; }
.cancel:active span { color: #FFF; outline:none; }
.cancel span{ background:#E62424 url('/images/bg-button-red.gif') repeat-x 0 -1px; }
	
.selected span { color:#FFF; background-image: none; background-color:  #6A6A6A;/*#75AAF1;*/ }
.selected:hover span, .selected:hover span span, .selected:focus span, .selected:focus span span { cursor:pointer; border-color:#9cf !important; color:#FFF; }
	
/* Button size classes */
.large { font-size: 13px; line-height: 1.2; }
.large:active span{ background-position:0 -390px;}
.small { font-size: 10px; line-height: 1; }
.small span{ background-position: 0px -3px; }
.tiny { font-size: 9px; line-height: 1;  }
.micro { font-size: 8px; line-height: 1em; }
	
/* End of custom button CSS
---------------------------------------- */

/* Navigation CSS */

div#navigation { width: 100%; height: 25px; padding-top: 5px; background-color: #FFF; border-bottom: 1px solid #CEE4F3; text-align: center;}
#navigation #links { font-size: 17px; line-height: 20px; }

/* Modal window styles */

.close_button  { float: right; display: inline-block; margin: 5px 6px 7px 6px; padding: 0px 3px 3px 3px; text-decoration: none !important;line-height:14px; font-size: 14px; color: #FFF; background-color: #E62424; border: 1px solid #AAA;  }
.close_button a { color: #FFF; }

/* Form styles */

.form { }
.form input[type="text"] { background: none; border: 1px solid #DEDEDE; background-color: #FFF; color: #555; }
.form div.field_element input { width: 100%; padding: 0.125em;}
.form #buttons { float: right; margin: 10px 0px; text-align: right;}
.form #last_saved {  font-size:10px; font-style: italic; line-height:12px; margin: 0.5em 0; padding: 0.5em; }
.form #top_links { margin-top: 2px; margin-bottom: 5px; }

/* Mediafile form styles */

#mediafile_form #media { width: 100%; }
#mediafile_form #autocomplete_populate{ width: 416px;}

/* Image form */
#mediafile_form #media img { margin: 0.5em auto; border: 1px solid #AAA;}
#mediafile_form #image_title { margin-bottom: 0.5em; font-size: 1.6em;}
#mediafile_form #image_authors_list{ border:3px solid white!important;border-left:none;display:block;margin:-3px 3px -4px -2px;padding:0px!important;color: #515151;}
#mediafile_form #image_date { font-size: 1.3em;height: 1.2em; margin: 0.125em 0; padding: 0.125em 0; }
#mediafile_form #image_description{ width:99%; height: 100px; padding: 5px; font-family:georgia,"times new roman",times, serif; color:#333; font-size: 15px; line-height: 21px; }

/* Article form style */

.note {	font-size: 11px; }
.text_input { background: none; border: 1px solid #DEDEDE; background-color: #FFF; color: #555; }
.column_holder { float: none; margin-bottom: 10px; }
.half_column { float: left; width: 50%; margin: 5px 0px; }
.third_column { float: left; width: 33%; }
.two_thirds_column { float: left; width:66%; }

#article_form {	width: 68%; float:left; }
#mediafile_form { width: 68%; float: left;}
#tools { width: 30%; float: right;	}

#article_form #article_title { margin-bottom: 0.5em; font-size: 1.8em;}
#article_form #article_subtitle { margin-bottom: 0.75em; font-size: 1.3em; }
#article_form #article_date { font-size: 14px; height: 1.2em; margin: 0.125em 0; padding: 0.125em 0; }
#article_form #article_section_id { height: 1.6em; max-width: 22em; font-size: 14px; margin: 0.25em 0; }
#article_form #article_authors_list{ border:3px solid white!important;border-left:none;display:block;margin:-3px 3px -4px -2px;padding:0px!important;color: #515151;}
/*IE6-/Win only*/
/*\*/ * html .tokenizer_input_borderless #article_authors_list { border:3px solid black;margin: -3px 3px -4px 14px:padding-left:10px; } /**/
#article_form #autocomplete_populate{ width: 450px;}
#article_form #author_list { margin-bottom: 20px; }
#article_form #article_bodytext { width:99%; height: 400px; padding: 5px; font-family:georgia,"times new roman",times, serif; color:#333; font-size: 15px; line-height: 21px; }
#article_summary { width:100%; height: 85px; }

/* Tool box styles */

#tools p{ margin: 0px 0px 6px 0px; }
#tools .toolbox { margin-bottom: 10px; padding: 0px 5px; }
#tools .toolbox h2{ display: inline; cursor: pointer; }
#tools .toolbox h2 span { background: url('/arrows.png') no-repeat; background-position: 0px -29px;}
#tools .toolbox_border { height: 1px; margin:0 1px; padding:0; background-color: #aaa;	color: #aaa; }
#tools .toolbox_separator { height: 1px; margin:0 5px; padding:0; background-color: #aaa; }
#tools .toolbox_label_body { background:#ddd url('/images/bg-button.gif') repeat-x 0 0; margin:0; padding: 4px 5px 6px 5px; overflow:visible; 
						font: 100%/1.2; text-decoration:none; color:#333; border-right: 1px solid #aaa; border-left: 1px solid #bbb; }
* html .toolbox_label_body{ padding-bottom:1px; }
#tools .toolbox_label_body h2 { margin: 0; font-size: 16px; }
#tools .toolbox_body { margin-top: -1px; padding: 6px 6px; border-right: 1px solid #aaa; border-left: 1px solid #bbb; background-color: #FFF; }
#tools .newtag { width: 80%; margin-right: 4px; }

/* Attach media styles */
#attach_media_container { width: 660px; min-height: 50px; margin-bottom:0px;}
#upload_media_tab {  border: 1px solid #AAA; padding: 5px;}
#upload_media_form>div { margin: 40px 50px;}
#upload_media_form h4 { margin: 10px; padding-top:30px; font-size: 18px; }
#upload_media_form p { font-size: 13px; }


/* Edit media styles 
--------------------------------*/
#edit_media_container { min-height: 50px; margin-bottom:0px; padding:0px;}
.image_container { width: 707px; }
.mediafile_container { width: 315px;}
#edit_media_form h4 { font-size: 18px; margin: 5px 0px; }
#edit_media_form textarea { width:290px;height:40px;}
#edit_media_form #media_details { width: 290px; float:left; clear:right;margin: 0px 5px 0px 10px; }
#edit_media_form #mediafile_title { width: 290px; font-size:14px;line-height:16px;}
#edit_media_form #media_tags_form { float:left; width: 270px; padding: 2px 10px; margin: 5px 0px;}
#edit_media_form #media_tags_form input { width:80%;}
#edit_media_form #media_matte { float:left; margin: 0; padding:0; background-color: #CEE4F3; }
#edit_media_form #media_matte img { border: 1px solid #AAA; }
#edit_media_form .form_buttons { margin: 10px 0px;}
.mediafile_container #media_matte { width:100%; padding:5px;}
.image_container #media_matte { width:402px;min-height:350px;text-align:center; padding:5px;}
#edit_media_form #media_matte div { text-align:left; padding: 10px 10px; margin-bottom:0;}
#edit_media_form #media_matte div p { margin: 5px 0px; font-size: 10px; }
#mediafile_new_authors_list{ color: #555; width: 20px; border:3px solid white!important;border-left:none;display:block;margin:-3px 3px -4px -2px;padding:0px!important;}
/*IE6-/Win only*/
/*\*/ * html .tokenizer_input_borderless #mediafile_new_authors_list { border:3px solid black;margin: -3px 3px -4px 14px:padding-left:10px; } /**/
#edit_media_form #photocredits_form { width: 290px; }



/* Issue form style */
#issue_form {	width: 240px; padding: 10px; border: 2px solid #3399DE; }
#issue_form_name_check { }
#issue_name {	width: auto; }

/* Sorting forms styles*/
#account_article_sorting_list button.categories_edit_tab{margin-left:208px; }
#account_article_sorting_list div#categories_list { border: 1px solid #AAA; }
#account_article_sorting_list #hidden_categories_buttons { padding: 4px 2px; text-align: right; background-color: #DEDEDE; 
																border-bottom: 1px solid #9cf;}
#account_article_sorting_list #categories_controls { margin-left: 3px;  }
#account_article_sorting_list ul#categories_sort{  max-height: 180px; overflow:auto; margin:0;}
#account_article_sorting_list .text_input { font-size: 13px; width: 98%; height: 16px;}
#account_article_sorting_list label{ color: #3399DE; padding: 0px 3px; }
#account_article_sorting_list .printsection label { color:#333; }
#account_article_sorting_list #categories_sort { margin-top: 5px; padding-left: 0px; list-style-type: none; } 
#account_article_sorting_list #categories_sort input[type='text'] { width: 160px;}
#account_article_sorting_list #categories_sort input[type='checkbox'] { padding: 1px 0px;}
#account_article_sorting_list #categories_sort ul { padding-left: 20px; list-style-type: none; }
#account_article_sorting_list #categories_list ul div {display:inline-block;} 
#account_article_sorting_list #categories_sort .drop_hover { background: url('/drag.png') no-repeat bottom left; }
#account_article_sorting_list #categories_sort .drop_top {	background-position: top left; }
#account_article_sorting_list #categories_sort .drop_bottom { background-position: bottom left; }
#account_article_sorting_list #categories_sort .drop_insert { background-position: 65px 100%; }

/* Overlay css */

#overlay{ position: absolute; top: 0; left: 0; z-index: 900; width: 100%; height: 500px; background-color: #000; }
#overlaybox{ position: absolute; left: 0; width: 100%; z-index: 1000; text-align: center; }
#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0;}
#overlay_container{ position: relative; width: 250px; height: 250px; background-color: #fff; margin: 0 auto;}
#overlay_content { width: auto; margin-bottom: 0; text-align: left; padding: 5px 5px 5px 5px; background-color: #fff; border: 2px solid #AAA;}


/* Author autocomplete css */
.field input.inputtext,
.field textarea,
div.tokenizer{border: 1px solid #DEDEDE;}
.tokenizer{min-height:5px;padding:0px 0px 3px 3px;width:100%;background:#fff;font-size:11px;}
.tokenizer_locked{background:#f4f4f4;}
.tokenizer,
.tokenizer *{cursor:text}
.tokenizer input{width:100%;}
.tokenizer .tokenizer_input,
.tokenizer .token{float:left;margin-right:3px;margin-top:3px;}
.tokenizer .tab_stop,
.tokenizer .tokenizer_stretcher{display:block;float:left;overflow:hidden;width:0px;}
.tokenizer .tab_stop{height:0px;}
.tokenizer .tokenizer_stretcher{padding-top:7px;}
.tokenizer .tab_stop input{border:0px solid black;display:inline;position:relative;left:-500px;}
.tokenizer .tokenizer_input_borderless {left:4px;margin-left:-1px;overflow:hidden;position:relative;}
.tokenizer_input_borderless  
.tokenizer div:-moz-first-node{padding-top:1px!important;}
.tokenizer_input{max-width:450px;overflow:hidden;padding:1px 0px;}
.tokenizer_input input,
.tokenizer_input_shadow{border:0px solid black;outline:0;;font-size:11px;padding:0px 5px;margin:0 0 -1px 0;white-space:pre;}
.tokenizer_input_shadow{display:inline;left:-10000px;position:absolute;top:-10000px;}
.tokenizer .tokenizer_input_shadow{height:0px;display:block;left:0px;overflow:hidden;position:relative;top:0px;}
div.tokenizer .token{background-image:url('/images/token.gif');background-repeat:no-repeat;white-space:nowrap;}
div.tokenizer .token span{background-image:url('/images/token.gif');background-position:top right;background-repeat:no-repeat;display:block;}
div.tokenizer .token span span{background-position:bottom right;}
div.tokenizer .token span span span{background-position:bottom left;}
div.tokenizer .token span span span span{background-image:none;padding:2px 3px 2px 5px;}
div.tokenizer.tokenizer_locked .token span span span span{padding-right:5px;}
html div.tokenizer_locked .token:hover,
html div.tokenizer_locked .token:hover span{background-image:url('/images/token.gif');}
div.tokenizer .token:hover,
div.tokenizer .token:hover span{background-image:url('/images/token_hover.gif');text-decoration:none;}
div.tokenizer a{ color: #333;}
div.tokenizer .token_selected,
div.tokenizer .token_selected span,
div.tokenizer .token_selected:hover,
div.tokenizer .token_selected:hover span{background-image:url('/images/token_selected.gif');color:white;text-decoration:none;}
div.tokenizer .token span.x,
div.tokenizer .token span.x_hover,
div.tokenizer .token:hover span.x,
div.tokenizer .token:hover span.x_hover{background-image:url('/images/token_x.gif');background-position:4px 2px;cursor:pointer;display:inline;padding:0px 6px 0px 5px;}
div.tokenizer.tokenizer_locked .token span.x,
div.tokenizer.tokenizer_locked .token span.x_hover{display:none;}
div.autocomplete {  position:absolute;  width:355px;  background-color:white;  border:1px solid #888;  margin-top:-2px;  padding:0px;}
div.autocomplete ul {  list-style-type:none;margin:0px; padding:0px;}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {  list-style-type:none;  display:block;  margin:0;  padding:2px;  height:16px;cursor:pointer;}
/* end of autcompleter.advancedlocal css */

/* Mediafiles list styles
--------------------------------*/

div.media_list .token{padding:2px 2px 5px 3px;background-repeat:no-repeat;float: left; width: 235px; background-color: #CEE4F3;border: 1px solid #B9DCF4;}

div.media_list .token span.x,
div.media_list .token span.x_hover,
div.media_list .token:hover span.x,
div.media_list .token:hover span.x_hover{float:right;width: 5%;background-image:url('/images/token_x.gif');background-position:3px 0px;background-repeat:no-repeat;cursor:pointer;display:inline;}
div.media_list textarea{ width: 107px;height:80px;font-size: 10px;color: #333;outline:none; overflow: hidden;margin: 0px 5px 4px 0px;}
div.media_list .token { margin-bottom: 5px; }
div.media_list p { font-size:10px;line-height:12px; }
div.media_list img { margin: 5px 5px 0px 0px; }
div.media_list p a{ cursor: text; }
div.media_list img.spinner{ vertical-align:bottom;margin-bottom: 0px;margin-left: 5px;}

/* Hot Ink index styles
--------------------------------*/

.index .title_bar { margin: 15px 5px;}
.index .title_bar  h1 { display:inline; margin-right: 25px;}
.index .title_bar a { vertical-align: text-bottom;}
.index .select_all_wrap { display:inline; float: left; margin: 0px 0px; padding: 3px 8px 3px 0px; background-color: #CEE4F3;  border: 1px dotted #9cf;}
.index .select_all_wrap input { margin: 3px 3px 3px 7px; }
.index .page_entries_info { float: right; margin: 6px 30px 4px 5px; font-style: italic;}
.index .pagination { display: inline; float: right; margin: 5px 0px;  color: #AAA; font-size: 14px;}
.index .pagination a { color: #AAA; }
.index .pagination .current { color: #333; }
.index .pagination .disabled { display: none;}
.index ol {margin-top: 5px; width: 100%; padding-left: 0; list-style-type: none; border: 1px dotted #999; border-top: none;}
.index ol li { border-top: 1px dotted #999; cursor: default;}
.index ol a { margin: 12px 0px; cursor: pointer;}
.index ol a:visited { color: #555;}
.index ol a:hover { color: #3399DE;}
.index ol a:active { color: #333;}
.index ol li>div{ display: inline-block; float: left; vertical-align: top; margin: 0.25em;}
.index a.delete_link { background: url('/images/token_x.gif') no-repeat;}
.index li div.date { float: right; width: 4.25em; color: #AAA; font-size: 1.2em; padding: 0.5em 0; text-align:right;}
.index li div.date p { font-size: 0.65em; color: #AAA; margin: 0px; margin-top: 8px; font-style:italic; font-family: georgia,"times new roman",times, serif;}
.index li div.icons { float: right; width: 1.0em; height: 1.2em; margin-right: 0; }
.index li.selected_card { background-color: #FFF6DD;}
.index li.highlighted_card { background-color: #CEE4F3;}

/* Articles index styles
--------------------------------*/

#articles .article { width: 50.5em; min-height: 40px; height: 100%; line-height: 1.2em; background-color: #FFF; border: 1px dotted #9cf;}
#articles .article h1 { font-size: 1.2em; line-height: 1.2; margin: 0; padding: 0.25em; color: #666; border-bottom: 1px solid #DDD; vertical-align: middle; font-weight: normal; /* font-style: italic; */ font-family: georgia,"times new roman",times, serif;}
#articles .article div { font-size: .9em; }
#articles .article .article_details { width: 100%; min-height: 24px;}
#articles .article .authors { float: left; padding: 0.5em;}
#articles .article .media { float: right; text-align: right; padding: 0.25em; }
#articles .article .media img{ float: right; margin: 0 0.125em;}
#articles div.section { width: 7.5em; overflow: hidden; background-color: #FFF; padding: 0.5em 0; border: 1px dotted #9cf; }
#articles div.section p { padding: 0px 0px 0px 5px; color: #666; margin: 0;}


/* Mediafiles index styles
--------------------------------*/

#mediafiles .mediafile { width: 20em; min-height: 40px; padding: 0px; height: 100%; line-height: 1.2em; background-color: #FFF; margin: 4px 0px; border: 1px dotted #9cf;}
#mediafiles .mediafile h1 { font-size: 1.2em; margin: 0; padding: 6px 5px 6px 5px; color: #666; border-bottom: 1px solid #DDD; vertical-align: middle; font-weight: normal; /* font-style: italic; */ font-family: georgia,"times new roman",times, serif;}
#mediafiles .mediafile div { font-size: 11px; }
#mediafiles .mediafile .mediafile_details { width: 100%; min-height: 24px; padding-top: 0px;}
#mediafiles .mediafile .authors { float: left; padding: 0.5em;}
#mediafiles .media { width: 100px; height: 56px; text-align: center; }
#mediafiles .media img{ display: inline; border: 1px solid #AAA;}

/* Start table CSS here
---------------------------------------- */

table#record_list {
	border: none;
	max-width: 885px;
	min-width: 850px;
	width: auto;
}

table#record_list thead {
	background:#ddd url(/bg-button.gif) repeat-x 0 0;
    margin:0px;
    padding: 4px 5px 6px 5px;
}

table#record_list th{
	border: 1px solid #3399DE;
}

table#record_list tfoot {
	background:#ddd url(/bg-button.gif) repeat-x 0 0;
    margin:0px;
    padding: 4px 5px 6px 5px;
}

table#record_list tbody {
	vertical-align: top;
}



table#record_list tr {
	padding: 5px 0px;
}

table#record_list td {
	height: 32px;
	padding: 0px 3px;
}


/*-----------------------------------
/*
/*			Account styles
/*
/*---------------------------------------*/

#accounts_index { margin: 2px;}
#accounts_index h1 {margin: 10px 0px;}
#accounts_index table{ width:400px; }
#accounts_index th{ text-align:left; }
#accounts_index td{ font-size: 20px; color: #999; height: 20px; padding: 5px 2px;}

#account_form_top_links{ width:400px; margin: 5px; }
#account_form { padding: 5px; }
#account_form select {	background: none; width: 400px; font-size: 16px; color: #666; height: 25px; border: 1px solid #DEDEDE;	}	
#account_form .account_name { background: none; height: 32px; font-size: 24px; width: 400px; padding: 3px; }
#account_form textarea { width: 400px; }
#account_form button {  }
	