@import "hotink/reset.css";
@import "hotink/helpers.css";
@import "hotink/navigation.css";
@import "hotink/modal.css";
@import "hotink/formtastic.css";
@import "hotink/960.css";
@import "jquery.fancybox-1.3.1.css";
@import "hotink/ui.css";

/* Main style */
html, body { height: 100%; }
body { background-color: #FFF; color: #1A1A1A; margin: 0 auto; text-algin: center;}
body, p, ol, ul, td { font-family: "lucida grande", verdana, arial, helvetica, sans-serif; font-size: 13.34px; line-height: 1.2; }
div#page_wrapper { min-height: 100%; height: auto !important; height: 100%; margin-bottom: -30px; /* the bottom margin is the negative value of the footer's height */}
div#page_container { background-color: #FFF; margin: 0 auto; max-width: 74em; padding: 1.5em 1.5em 1em 1.5em; text-align: left;  }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; margin: 0.83em 0;}
h3 { font-size: 1.17em; margin: 1em 0; }
p { margin-bottom: 1em; }

#page_container > h1 		{ float: left; margin-bottom: 20px; margin-right: 15px; }
#page_container > h1 + p 	{ padding: 10px 0 0 0; }

hr { border:0 #CCC solid; border-top-width:1px; clear:both; height:0 }

small { font-size: 80%; }
strong { font-weight: bold; }
em { font-style: italic; }

.fieldWithErrors { padding: 2px; color: red; }
#errorExplanation { float: left; width: 97%; border: 2px solid red; padding: 1%; padding-bottom: 0.5em; margin-bottom: 1.5em; background-color: #f0f0f0; }
#errorExplanation h2 { float: none; text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px; background-color: #c00; color: #fff;}
#errorExplanation p {  color: #333; margin-bottom: 0; padding: 5px; }
#errorExplanation ul { margin: 0; padding: 1%;}
#errorExplanation ul li { font-size: 1em; margin-bottom: 0.2em; list-style-type:none;}

/* Font families */
#account .letgo { font-family: "lucida grande", verdana, arial, helvetica, sans-serif; }


#login_container { background-color: #515151; }

a { text-decoration:none; color: #000; }
a:visited { color: #333; }
a:hover { color: #3399DE; }

a.weblink { text-decoration: underline;}
a.destroy_link { font-size: 150%; color: #BC6765; }

.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix {display: block; }

.hidden { display:none;}
.user { font-family: georgia, "Times New Roman", times, serif;}

.even-row { background-color: #FAFAFA; }
.odd-row { background-color: #F1F1F1; }
div.red { color: #E62424; }
div.green { color: green; }

.kill_link a{ color: red;}

/* faq styles */

.faq { font-size: 11px; }
.question { font-weight:bold; }
dl.faq {  }
dl.faq dt {font-weight: bold;}

/* Status styles */

h2.unpublished { color: #EDBE00; font-weight: bold; }
h2.published { color: #00DD00; font-weight: bold; }
h2.scheduled { color: #699DE3; font-weight: bold; }
h2.awaiting_attention { color: #00AF2E; font-weight: bold; }

ol.awaiting_attention { color: #00AF2E; }

li.scheduled { background-color: #CEE4F3; }
li.scheduled h1>small { color: #699DE3; }
li.unpublished { background-color: #fff9e5; }
li.unpublished h1>small { color: #EDBE00; }
li.awaiting_attention { background-color: #fff9e5; }
li.awaiting_attention h1>small { color: #00AF2E; }

/*-------------------------------------------------

  Dashboard styles

-------------------------------------------------*/

.dashboards #page_container > a									{ float:left; margin: 5px 0 5px 10px; padding: 5px; }
.dashboards h2 													{ float: left; text-decoration:underline; font-size: 1.3em; margin-bottom: 15px; margin-top: 0; }
.dashboards #user_blogs > h2									{ margin-bottom: 0px; }

#current_lead_articles 											{ display: block; background-color: #F3F3F3; padding: 10px 1%; margin-bottom: 20px; border: 1px solid #AAA; }
#current_lead_articles h3										{ margin: 0 0 5px 0; font-size: 110%; }

#current_lead_articles .visibility_controls						{ float: left; padding: 5px 0 5px 15px; }
#current_lead_articles .visibility_controls	.show 				{ display:none; }
#current_lead_articles.hidden .visibility_controls	.show 		{ display: inline; }
#current_lead_articles.hidden .visibility_controls	.hide 		{ display:none; }

#current_lead_articles.hidden h2 								{ margin-bottom: 0; }
#current_lead_articles.hidden > div + div,
#current_lead_articles.hidden .front_page_controls 				{ display: none; }

#current_lead_articles ol.documents 							{  margin-bottom: 0; }
#current_lead_articles ol.documents li 							{ background-color: #ddf2d2; }
#current_lead_articles ol.documents li.scheduled 				{ background-color: #CEE4F3; }
#current_lead_articles ol.documents.left 						{ clear: left; width: 48%; padding-right: 1%; }
#current_lead_articles ol.documents.right 						{ clear: none; width: 48%; padding-left: 1%; }

/* Front page form */

#front_page_form .preview 				{ margin: 30px 0 20px 0; background-color: #E1EBF7; }
#front_page_form .preview > div			{ padding: 15px; }
#front_page_form .preview  h2			{ margin:0; }
#front_page_form .preview .preview_form { float:right; }


li.ui-draggable:hover {
  cursor: move !important;
  cursor: -moz-grab !important;
  cursor: -webkit-grab !important;
  cursor: grab !important;
}

li.ui-draggable-dragging:hover {
  cursor: move !important;
  cursor: -moz-grabbing !important;
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}

/*-------------------------------------------------

  Document list item styles

-------------------------------------------------*/

/* Default */
ol.documents { float: left; clear: left; width: 100%; border: 1px dotted #999; margin-bottom: 5px; }
ol.documents li { position:relative; float: left; width: 100%; padding: 4px 0; background-color: #F0F0F0; }
ol.documents li+li { border-top: 1px dotted #999; }
ol.documents li > div { width: 100%;}
ol.documents li > div > div { float: left; }
ol.documents li .select { width: 2.75%; text-align: center; display: none; }
ol.documents li .details, ol.documents li .section, ol.documents li .tags { border: 1px solid #CCCCCC; background: white;  }
ol.documents li .details { width: 59%; padding: 5px 0.5% 5px 1%; margin-left: 5px; }
ol.documents li .details h1 { float: left; font-size: 1.25em; line-height: 1.15; margin: 0 0 8px 0; font-weight: normal;  }
ol.documents li .details h1 a { color: #111; font-family:georgia,"times new roman",times, serif;  }
ol.documents li .details h1 a:hover { text-decoration:underline; }
ol.documents li .details p { min-height: 15px; font-size: 0.9em; margin-bottom: 0; padding: 6px 0 2px 0; float: left; clear: left; }
ol.documents li .details p small { float: left; padding-top: 5px; }
ol.documents li .details .mediafiles { padding: 0 5px; float: right; }
ol.documents li .details .mediafiles .first.large { display: none; }
ol.documents li .details .mediafiles img { margin-top: 3px; }
ol.documents li .details img { border: 1px solid #999999; }
ol.documents li .section { width: 10%; padding: 0.5%; margin-left: 1%; }
ol.documents li .tags_comments { width: 10%; margin-left: 1%; padding: 0; }
ol.documents li .tags_comments p { margin-bottom: 0; font-size: 80%; }
ol.documents li .tags { border: 1px solid #CCCCCC; margin-bottom: 15px; background: white; padding: 5px; }
ol.documents li .comments { padding: 5px; }
ol.documents li .comments p { font-size: 100%; }
ol.documents li .section p { margin: 0; }
ol.documents li .date { width: 9%; padding-right: 2%; margin-left: 1%; margin-top: 5px; }
ol.documents li .date p { font-size: 120%; font-weight: normal; text-align: right; margin-bottom: 15px; }
ol.documents li .date p+p { margin: 0; }
ol.documents li .date p.word_count { font-size: 80%; font-weight: 200; }
ol.documents li a.destroy_link {
  position: absolute;
  top: 1px;
  right: 1px;
  line-height: 0.5;
  padding: 3px;
}

ol.documents li.draft { background-color: #fff9e5; }
ol.documents li.draft .details h1>small { color: #EDBE00; }
ol.documents li.scheduled { background-color: #CEE4F3; }
ol.documents li.scheduled .details h1>small { color: #699DE3; }
ol.documents li.awaiting_attention { background-color: #fff9e5; }
ol.documents li.awaiting_attention h1>small { color: #00AF2E; }

ol.documents li.selected { background-color: #CDFBDC; }
ol.documents li.highlighted_card {  }

/* Small and tiny styles */
ol.documents.small .select, 		ol.documents.tiny .select,
ol.documents.small .tags_comments,	ol.documents.tiny .tags_comments 	{ display: none; }
ol.documents.small .details h1, 	ol.documents.tiny .details h1 		{ margin-bottom: 5px; }
ol.documents.small .details p, 		ol.documents.tiny .details p 		{ font-size: 0.85em; }
ol.documents.small .section, 		ol.documents.tiny .section 			{ width: 14%; font-size: 0.8em; }
ol.documents.small .date, 			ol.documents.tiny .date 			{ width: 18%; font-size: 0.9em; }
ol.documents.small .date p, 		ol.documents.tiny .date p 			{ }
ol.documents.small .destroy_link, 	ol.documents.tiny .destroy_link 	{ display: none; }

ol.documents.small .details { margin-left: 1%; width: 57%; } 
ol.documents.small .details h1 { font-size: 1.1em; margin-bottom: 5px; line-height: 1.2; }
ol.documents.small .details p { font-size: 0.85em; }
ol.documents.small .tags { display: none; }
ol.documents.small .date { width: 20%; font-size: 1.1em; margin-top: 0; }
ol.documents.small .date p { font-size: 1.1em; }
ol.documents.small .destroy_link { display: none; }

ol.documents.tiny,
ol.documents.tiny li 						{ border-color: #AAA; }
ol.documents.tiny li .details				{ min-height: 0; }
ol.documents.tiny li .details h1			{ font-size: 1.05em; margin: 0; line-height: 1.2; }
ol.documents.tiny li .mediafiles img		{ height: 16px; }
ol.documents.tiny li .mediafiles object 	{ display: none; }
ol.documents.tiny li .details p,	
ol.documents.tiny li .date p + p			{ display: none; }

/* Selectable */
ol.documents.selectable li div.select { display: block; }
ol.documents.selectable li div.details { width: 59%; margin-left: 0; }

/* Draggable and droppable */
ol.documents li.ui-draggable-dragging 		{ border: 1px dotted #999; }

ol.documents.droppable 						{ list-style: decimal inside; border: none; }
ol.documents.droppable li 					{ margin: 2px 0.25%; padding: 6px 0 4px 1%; min-height: 57px; border: none; background-color: #d2f1c2; }
ol.documents.droppable li.drop				{ background-color: #EBFFE1; } 
ol.documents.droppable li.scheduled.drop	{ background-color: #E1EBF7; } 
ol.documents.droppable li.scheduled 		{ background-color: #CEE4F3; }
ol.documents.droppable li.updated 			{ background-color: #FFF1FA; }
ol.documents.droppable li.updated.drop		{ background-color: #FFF8FC; }
ol.documents.droppable li > div 			{  width: 94%; float: right; margin-right: 0; float: right; }

/* Listed */
ol.documents.listed 						{ list-style: decimal inside; border: none; }
ol.documents.listed li 						{ padding: 6px 0 4px 1%; margin: 2px 0.25%; border: 1px solid #CACACA; }
ol.documents.listed li > div 				{ width: 93%; float: right; margin-top: -2px; }
ol.documents.listed li .details 			{ margin: 0; }

/* Entries */
ol.documents.entries li .details,
ol.documents.entries.selectable li .details { width: 68.75%; }


/*-------------------------------------------------

  Mediafile list item styles

-------------------------------------------------*/

ol.mediafiles { float: left; clear: left; width: 100%; border: 1px dotted #999; margin-bottom: 5px; }
ol.mediafiles li { position:relative; float: left; width: 100%; padding: 4px 0; background-color: #F0F0F0; }
ol.mediafiles li+li { border-top: 1px dotted #999; }
ol.mediafiles li > div { width: 100%;}
ol.mediafiles li > div > div { float: left; }
ol.mediafiles li .select { width: 2.75%; text-align: center; display:none; }
ol.mediafiles li .file { width: 11%; height: 56px; text-align: center;}
ol.mediafiles li .file img { display: inline; border: 1px solid #AAA;}
ol.mediafiles li .blank_file { background:url('/images/blank_file.png') center no-repeat; margin-top:0.4em; }
ol.mediafiles li .blank_file  p { float:left;width:100%;height:100%;margin-top:38px;font-size: 0.7em;font-weight: bold; color: #555 }
ol.mediafiles li .details, ol.mediafiles li .tags { border: 1px solid #CCCCCC; background: white;  }
ol.mediafiles li .details { width: 62%; padding: 5px 0.5% 5px 1%; }
ol.mediafiles li .details h1 { float: left; font-size: 1.2em; margin: 0 0 8px 0; font-weight: normal;  }
ol.mediafiles li .details h1 a { color: #111; }
ol.mediafiles li .details h1 a:hover { text-decoration:underline; }
ol.mediafiles li .details p { min-height: 15px; margin-bottom: 0; padding: 3px 0; float: left; clear: left; }
ol.mediafiles li .tags { width: 10%; padding: 0.5%; margin-left: 1%; }
ol.mediafiles li .tags p { padding: 5px 0; margin-bottom: 0; }
ol.mediafiles li .date { width: 9%; padding-right: 2%; margin-left: 1%; margin-top: 5px; }
ol.mediafiles li .date p { font-size: 120%; font-weight: normal; text-align: right; }

ol.mediafiles li.selected_card { background-color: #CDFBDC; }
ol.mediafiles li.highlighted_card {  }

/* Small */
ol.mediafiles.small .select { width: 5%; }
ol.mediafiles.small li .file { width: 17%; height: 56px; text-align: center;}
ol.mediafiles.small .details { margin-left: 1%; width: 39%; } 
ol.mediafiles.small .details h1 { font-size: 1.2em; margin-bottom: 5px; }
ol.mediafiles.small .details p { font-size: 0.85em; }
ol.mediafiles.small .tags { width: 15%; }
ol.mediafiles.small .tags p { font-size: 0.85em; }
ol.mediafiles.small .date { width: 15%; }
ol.mediafiles.small .destroy_link { display: none; }

/* Selectable */
ol.mediafiles.selectable li div.select { display: block; }


/* Hot Ink index page styles
--------------------------------*/
div#articles > h1, div#mediafiles > h1, div#issues > h1, div#blogs > h1 { float: left; margin-bottom: 25px; }
div#articles h1 {
  float: left;
}
a#article_new_article_button, a#article_select_all_button, button#more_actions_button {
  padding-right: 5px;
}

div#articles > h1 + a, div#mediafiles > h1 + a, div#issues > h1 + a, div#blogs > h1 + a { margin-top: 5px; margin-left: 20px; }

#actions {
  float: left;
  margin: 5px 20px;
  padding-bottom: 0.4em;
}
#actions a { float: left; }
#actions button { float: left;font-size: 1em; }
#actions .batch_actions { float: left; position: relative; }
#actions .batch_actions input { background: none; width: 100%; text-align: left; border: none; padding: 0.25em 0.5em; font-size: 1em; cursor: pointer;}
#actions .batch_actions input:hover { color: white;  background-color: #3D9BDF; }
#actions .batch_actions .drop_down_menu { z-index: 100; width: 150px; }

.action h1 { margin-bottom: 10px; }

.search { float: right; clear: right; }
.search input { padding: 0.25em; font-size: 1.2em; color: #515151;}
.search button { font-size: 1em; }

.select_all_wrap { float: left; clear: left; padding-left: 0.3em; }
#select_all_head {
  cursor: pointer;
  margin: 0;
}

.page_entries_info { display:inline; float: right; font-size: 0.9em; margin-right: 1em; font-style: italic; position: relative; top: 0.35em;  }
.pagination { display: inline; color: #AAA; float: right; clear: right; position: relative; top: 0.25em; margin-bottom: 8px; }
.pagination a { color: #666; }
.pagination .current { color: #333; }
.pagination .disabled { display: none;}

#bottom_pagination{ float: right; padding-bottom: 1.5em; }

/* Action styles */
#action { width: 29em; padding: 0.5em; font-family: georgia, "Times New Roman", times, serif; }
#action p, #action h1, #action h2, #action h3, #action h4 { margin: 0 0 1em 0; }
#action p { line-height: 1.4; font-size: 1.15em; clear: both; }
#action button { margin-top: 0.5em; float: right; }
#action select, #action input[type="text" ] { border: 1px solid #CCC; background: none; font-size: 1.1em; margin-bottom: 1em; }
#action input[type="text"] { width: 80%; padding: 0.2em; }

#action #set_primary_section_section_id { width: 70%; }

/* Form styles */
.form label { color: #515151; font-size:0.9em;}
.form fieldset { border: none; margin: 0; padding-left: 0;}
.form legend { font-size: 1.3em; padding-bottom: 0.5em; font-weight: normal; font-family: georgia, "Times New Roman", times, serif; font-style: italic; color: #999; }
.form h1 { font-size: 2.25em;line-height: 1.1; margin: 0.35em 0; font-weight: normal; font-family: georgia, "Times New Roman", times, serif; font-style: italic; color: #999; }
.form input[type="text"] { background: none; border: 1px solid #DEDEDE; background-color: #FDFDFD; color:#333;}
.form div.field_element input { display: block; width: 100%; background-color: #F9F9F9;}
.form #buttons { float: right; margin-botton: 0.2em; text-align: right;}
.form #buttons button { float: right;}
.form #last_saved {  float: right;font-size:10px; font-style: italic; line-height:12px; margin: 0.6em 0.5em; margin-bottom:0; padding: 0.5em; }
.form #top_links { margin: 0.5em 0; height: 1.6em; }

/* Article form style */

.note {	font-size: 11px; }
.text_input { background: none; font-size: 1em; padding: 0.1em; border: 1px solid #DEDEDE; background-color: #FDFDFD; color: #555; }

#mediafile_form { width: 68%; float: left;}

/*-----------------------------------
/*		Form styles
/*---------------------------------------*/

/* Toolbox defaults */
.toolbox 						{ border: 1px solid #666; float:right; clear: right; margin: 0 0 10px 0; 
										-moz-border-radius: 2px; -webkit-border-radius: 2px; }
.toolbox > h4 					{ padding:0.3em; font-weight: 200; font-size: 115%; letter-spacing: 0.03em; color: white; background-color: #666;}
.toolbox > div, .toolbox > p	{ padding: 4%; }
.toolbox div h4					{ margin: 0 0 5px 0; }
.toolbox > ul					{ font-weight: bold; padding: 0 4% 4% 4%; font-size: 1.2em; margin-left: 20px; list-style-type: bullet;}
.toolbox > ul li + li			{ margin-top: 10px; }
.toolbox p	 					{ margin-bottom: 0; }

/* Mediafile form - Image */
.image									{ padding-bottom: 0; }
.image img								{ width: 100%; border: 1px solid #333; }
.image h3 								{ margin-top: 0; margin-bottom: 10px; }
.toolbox div ul.custom_image_sizes,
.toolbox div ul.system_image_sizes			{ margin-bottom: 10px; float: left; width: 100%; }

.toolbox div ul.custom_image_sizes li,
.toolbox div ul.system_image_sizes li		{ float: left; width: 100%; margin-bottom: 3px; }

.toolbox div ul.custom_image_sizes li input,
.toolbox div ul.system_image_sizes li input		{ width: 200px; }

div#custom_image_sizes_container, div#system_image_sizes_container {
    width:210px;
    float:left;
}

/* Mediafile form - Audiofile */
.toolbox div ul.mp3_info					{ margin: 10px 0; float: left; width: 100%; }
.toolbox div ul.mp3_info li					{ float: left; width: 100%; margin-bottom: 3px; }
.toolbox div ul.mp3_info li strong			{ font-weight: 600; }

/* Article/Entry forms */
#article_title, #entry_title 			{ font-size: 30px; }
#article_subtitle, #entry_subtitle 		{ font-size: 22px; }


/* Author tokenizing */
#article_author_ids_input ul.token-input-list, 
#entry_author_ids_input ul.token-input-list,
#mediafile_author_ids_input ul.token-input-list,
#audiofile_author_ids_input ul.token-input-list,
#image_author_ids_input ul.token-input-list,
#waxing_mediafile_attributes_author_ids_input ul.token-input-list		{ clear: left; border: 1px solid #DEDEDE; background-color: #FDFDFD; 
																			width: 100%; padding: 0.1em; }
#waxing_mediafile_attributes_author_ids_input ul.token-input-list p 	{ font-size: 11px; }

#article_author_ids_input .token-input-dropdown, 
#entry_author_ids_input .token-input-dropdown,
#mediafile_author_ids_input .token-input-dropdown,
#audiofile_author_ids_input .token-input-dropdown,
#image_author_ids_input .token-input-dropdown,
#waxing_mediafile_attributes_author_ids_input .token-input-dropdown		{ width: 100%; border: 1px solid #DEDEDE; border-top-width: 0;
	 																		padding: 0.1em; }
#article_author_ids_input ul.token-input-list li.token-input-token, 
#entry_author_ids_input ul.token-input-list li.token-input-token,
#mediafile_author_ids_input ul.token-input-list li.token-input-token,
#audiofile_author_ids_input ul.token-input-list li.token-input-token,
#image_author_ids_input ul.token-input-list li.token-input-token,
#waxing_mediafile_attributes_author_ids_input li.token-input-token 		{ padding: 5px; margin: 2px; }

#article_author_ids_input input, #entry_author_ids_input input,
#mediafile_author_ids_input input, #audiofile_author_ids_input input,
#image_author_ids_input input, 
#waxing_mediafile_attributes_author_ids_input input						{ border:none; }
#waxing_mediafile_attributes_author_ids_input { float: left; }
#waxing_caption_input { float: left; }

#article_section_id_input					{ padding-left: 15px; }
#article_section_id							{ font-size: 21px; background: none; border: 1px solid #AAA; width: 100%; }

#article_bodytext							{ padding-top: 5px; padding-bottom: 5px; }

#bodytext_preview_link 						{ font-size: 90%; color: grey;}

/* Article/Entry bodytext preview modal */
#bodytext_preview 							{ overflow:auto; height:600px; width: 600px; padding:15px; line-height: 1.2; font-size: 110%; }
#bodytext_preview h1 						{ float: left; }
#bodytext_preview h1, #bodytext_preview hr 	{ margin-bottom: 20px; }
#bodytext_preview #wmd-preview 				{ float: left; width: 100%; }
#bodytext_preview #wmd-preview h1			{ float: none; }
#bodytext_preview #wmd-output 				{ float: left; width: 100%; }
#bodytext_preview #wmd-output pre 			{
		 										overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
												 white-space: pre-wrap; /* css-3 */
												 white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
												 white-space: -pre-wrap; /* Opera 4-6 */
												 white-space: -o-pre-wrap; /* Opera 7 */
												 /* width: 99%; */
												 font-size: 90%;
											}

/* Article/Entry publication status */
#status { margin-bottom: 10px; line-height: 1.0; font-size: 19px; font-weight: normal; }
#status.draft span { color: #EDBE00;}
#status.scheduled span { color: #699DE3;}
#status.published span { color: #00DD00;}
#status.awaiting_attention span { color: #00AF2E;}
#status ul { margin: 10px 0; }

#status small { display: block; margin-top: 5px; font-weight: 200; font-size: 60%; color: #333333;}
#status small strong { font-weight: 600; }
#publish { font-size: 12px; }
#schedule { background-color: #EFEFEF; margin-top: 5px; font-size: 90%; padding: 5px; line-height: 1.5; }
#schedule select { margin: 2px 0; }

/* Article printings */
#printings { background-color: #fff9e5; border: 1px solid #CEE4F3; border-width: 1px 0 0 0; padding: 10px; }
#printings h2 { font-weight: bold; text-decoration: underline; margin: 0 0 5px 0; font-size: 1.05em; line-height: 1.4; }
#printings ul { margin: 0.5em 0; margin-bottom: 10px; padding-left: 0em; list-style: none; }
#printings ul li h3, #tools #printings ul li p { margin: 0; margin-bottom: 0.25em;}
#printings ul h3 { float: left; font-weight: normal; font-size: 1.1em;}
#printings ul .issue_date { float:left; font-size: 1.2em; color: #999; }
#printings ul h3 + .issue_date { padding-left: 10px; }
#printings a.weblink { padding-left: 0.5em; font-size: 0.9em; display: block; margin-bottom: 0.5em; }
#printings .kill_link { position: relative; top: 0.125em; left: 0.5em;}
#printings #printing_form { margin-bottom: 0.5em; margin-left: 0.5em; }
#printings #printing_form select { width: 60%; border: 1px solid #D4D4D4; background: none;}

/* Article/Entry mediafiles */
ol#document_mediafiles { margin:0;}
ol#document_mediafiles li { position:relative; float: left; width: 245px; padding:10px 15px 15px 15px; background-color: #EFEFEF; margin-bottom: 5px;  -moz-border-radius: 2px; -webkit-border-radius: 2px; }
ol#document_mediafiles li a.detach { position: absolute; top: 2px; right: 3px; font-size: 80%; color: red; text-decoration: none; line-height: 0.8;}
ol#document_mediafiles li a.detach:hover { text-decoration: underline; }
ol#document_mediafiles li img { float: right; border: 1px solid #666666;}
ol#document_mediafiles li .caption { margin-bottom: 5px; }
ol#document_mediafiles li .caption p { font-size: 0.9em; }
ol#document_mediafiles li.image_waxing .caption { float: left; width: 50%;  }
ol#document_mediafiles li .edit_caption { font-size: 70%; float: right; margin-top: 10px; }
ol#document_mediafiles li.image_waxing .edit_caption { float: left; clear: left; width: 50%; }
ol#document_mediafiles li.audiofile_waxing .player { overflow:hidden; padding: 5px; background-color: #fff9e5; border: 1px solid #AAA; margin-bottom: 10px; line-height: 1.4; }
ol#document_mediafiles li .file { overflow:hidden; padding: 5px; background-color: #fff9e5; border: 1px solid #AAA; margin-bottom: 10px; font-size: 1.1em; line-height: 1.4; }
ol#document_mediafiles li p.credit { margin-top: 10px; font-size: 0.8em; }
ol#document_mediafiles li .credit strong { font-weight: 600; }

#attach_mediafile_link { display: block; float: left; margin-bottom: 5px; }

/* Waxing modal form */
.waxing_modal form.formtastic fieldset > ol > li.text textarea { padding: 0; }

#document_categories { line-height: 1.5; font-size: 105%; }
#document_categories input { margin-bottom: 5px; margin-right: 5px; }

#comment_status_control { margin-bottom: 10px; }
#comment_status_control p { float: right; margin: 10px 10px 0 0; font-weight: bold; color: #333; }
#comment_status_control a.enabled.selected { background-color: #79A988; }
#comment_status_control a.disabled.selected { background-color: #AAA; }
#comment_status_control a.locked.selected { background-color: #BC6765; }
#documents_comments_link { display: block; text-align: center; font-size: 105%; padding: 5px; }

/* Comments modal display */
#comments_box 						{ width: 560px; }
#comments_box > h2					{ float: left; margin-bottom: 5px; margin-top: 10px; }
#comments_box > p					{ float: left; margin: 17px 10px 5px 10px; }

#comments_box ol.comments						{ float: left; clear: left; width: 99%; max-height: 520px; margin-bottom: 0; overflow: auto; border: 1px solid #DEDEDE; }
#comments_box ol.comments	li					{ float: left; width: 100%; position: relative; }
#comments_box ol.comments	li + li				{ border-top: 1px dotted #CCC; }
#comments_box ol.comments	li > div			{ float: left; }
#comments_box ol.comments	li  p				{ font-size: 90%; line-height: 1.4; }
#comments_box ol.comments .details				{ width: 96%; padding: 2% 2% 1% 2%; margin-bottom: 5px; }
#comments_box ol.comments .details p			{ float: left; margin-bottom: 0; }
#comments_box ol.comments .details p+p			{ margin-left: 12px; }
#comments_box ol.comments .details .delete		{ float: right; font-size: 75%; margin-left: 15px; }
#comments_box ol.comments .details .target		{ display: none; }
#comments_box ol.comments .comment 				{ width: 76%; padding: 0 2% 2% 2%; }
#comments_box ol.comments .comment .body			{ font-size: 100%; line-height: 1.2; margin-bottom: 5px; }
#comments_box ol.comments .comment .body p		{ margin-bottom: 5px; }

/* Attach media modal styles */
#upload_media_container { width: 565px; min-height: 50px; margin-bottom:0px;}
#upload_media_container .title_bar button { vertical-align: 0.5em; }
#upload_media_container .title_bar h1 {  display:inline; margin: 0 0.25em;  margin-right: 0.5em; font-size: 2.5em; font-weight: normal; font-family: georgia, "Times New Roman", times, serif; font-style: italic; color: #AAA;}
#upload_media_tab {  border: 1px solid #AAA; padding: 5px; }
#upload_media_container #upload_media_form {float: left;}
#upload_media_form>div { margin: 1em;}
#upload_media_form h4 { margin: 10px; padding-top:30px; font-size: 18px; }
#upload_media_form p { font-size: 13px; }

#attach_archive_media { width: 650px; padding: 5px; }
#fancybox-inner #mediafiles.small { width: 49em; padding: 0 0.5em; }
#fancybox-inner #mediafiles.small h1 { padding: 0.125em; }
#fancybox-inner #mediafiles.small ol { clear: both; }
#fancybox-inner #mediafiles.small ol li h1 { padding: 0.25em; }
#fancybox-inner #mediafiles.small button.save { margin: 0.5em 0;}
#fancybox-inner #mediafiles.small .pagination { font-size: 1.2em; }
#fancybox-left-ico, #fancybox-right-ico { display: none; }

/* New mediafile form styles */
#mediafile { width: 50em; margin: 0 auto; min-height: 50px; }
#mediafile #upload_media_form { float: left;}
#mediafile #upload_media_tab {  border: 1px solid #AAA; padding: 5px;}
#mediafile #upload_media_form>div { margin: 40px 50px;}
#mediafile #upload_media_form h4 { margin: 10px; padding-top:30px; font-size: 18px; }
#mediafile #upload_media_form p { font-size: 13px; }


/* Article#show/Entry#show styles */
#article, #entry { float: left; margin-bottom: 20px; }
#article h1, #entry h1 { font-size: 2.5em; max-width: 80%; margin: 10px 0 20px 0; font-family:georgia,"times new roman",times, serif; }
#article h2, #entry h2 { font-weight: 400; max-width: 80%; font-family:georgia,"times new roman",times, serif; }
#article p, #entry p { font-size: 1.15em; line-height: 1.35; font-family:georgia,"times new roman",times, serif; }
#article p.byline, #article p.date, #entry p.date, #entry p.byline { font-weight: 600; font-size: 1em; font-family: "lucida grande", verdana, arial, helvetica, sans-serif; }
#article div.details, #entry div.details { float:right; clear: right; padding: 10px; margin-bottom: 10px; background-color: #CEE4F3; border: 1px solid #DEDEDE;  -moz-border-radius: 3px; -webkit-border-radius: 3px;}
#article div.details h3, #entry div.details h3 { margin: 0 0 10px 0; }
#article div.details img, #entry div.details img { border: 1px solid #AAA; }
#article div.details a.link { font-family: "lucida grande", verdana, arial, helvetica, sans-serif; }
#article div.details > div + div { border-top: 1px solid #CCC; padding-top: 10px; }
#article > p { max-width: 70%; }

#article .media { overflow: hidden; }
#article .media li, #entry .media li { position: relative; background-color: #FFF; margin-bottom: 10px; padding-top: 10px; width: 100%; text-align: center; }
#article .media li .caption, #entry .media li .caption { text-align: left; padding: 10px; margin-bottom: 0; font-size: 90%; font-family:georgia,"times new roman",times, serif; }

.network_image_large img { border: 1px solid #AAA;  }
.network_image_large .caption { padding: 10px 0; margin-bottom: 0px; font-family:georgia,"times new roman",times, serif; }



/* Edit media modal styles 
--------------------------------*/
#edit_media_container { min-height: 50px; margin-bottom:0px; padding:0px;}
.image_container { width: 707px; }
.mediafile_container { width: 315px;}
#edit_media_form h4 { font-size: 18px; margin: 5px 0px; }
#edit_media_form textarea { width:290px;height:40px;}
#edit_media_form #media_details { width: 290px; float:left; clear:right;margin: 0px 5px 0px 10px; }
#edit_media_form #mediafile_title { width: 290px; font-size:14px;line-height:16px;}
#edit_media_form #media_tags_form { float:left; width: 270px; padding: 2px 10px; margin: 5px 0px;}
#edit_media_form #media_tags_form input { width:80%;}
#edit_media_form #media_matte { float:left; margin: 0; padding:0; background-color: #CEE4F3; }
#edit_media_form #media_matte img { border: 1px solid #AAA; }
#edit_media_form .form_buttons { margin: 10px 0px; float: right;}
.mediafile_container #media_matte { width:100%; padding:5px;}
.image_container #media_matte { width:402px;min-height:350px;text-align:center; padding:5px;}
#edit_media_form #media_matte div { text-align:left; padding: 10px 10px; margin-bottom:0;}
#edit_media_form #media_matte div p { margin: 5px 0px; font-size: 10px; }
#mediafile_authors_list{ color: #555; width: 20px; border:3px solid white!important;border-left:none;display:block;margin:-3px 3px -4px -2px;padding:0px!important;}
/*IE6-/Win only*/
/*\*/ * html .tokenizer_input_borderless #mediafile_new_authors_list { border:3px solid black;margin: -3px 3px -4px 14px:padding-left:10px; } /**/
#edit_media_form #photocredits_form { width: 290px; }

/* Article mediafiles list styles
--------------------------------*/

div.media_list .token{padding:0.5em; background-repeat:no-repeat;float: left; width: 95%; background-color: #FFF6D3; }

div.media_list .token span.x,
div.media_list .token span.x_hover,
div.media_list .token:hover span.x,
div.media_list .token:hover span.x_hover{float:right;width: 5%; background-image:url('/images/token_x_red.gif');background-position:3px 0px;background-repeat:no-repeat;cursor:pointer;display:inline;}
div.media_list textarea{ width: 48%;height:80px;font-size: 10px;color: #333;outline:none; overflow: hidden;margin: 0px 5px 4px 0px;}
div.media_list .token { margin-bottom: 5px; }
div.media_list p { font-size:10px;line-height:12px;}
div.media_list .file { width: 91%; margin: 0; margin-bottom: 0.5em; padding: 0.25em;}
div.media_list .token img { margin: 0.5em; margin-right: 0.125em; border: 1px solid #AAA; }
div.media_list p a{ cursor: text; }
div.media_list img.spinner{ vertical-align:bottom;margin-bottom: 0px;margin-left: 5px;}

/* Tag list styles */
#media_tags_form  { font-size: 0.8em; }
#media_tags_form p{  }

#accounts_index { margin: 2px;}
#accounts_index h1 {margin: 10px 0px;}
#accounts_index table{ width:400px; }
#accounts_index th{ text-align:left; }
#accounts_index td{ font-size: 20px; color: #999; height: 20px; padding: 5px 2px;}

/*-----------------------------------
/*		Issue styles
/*---------------------------------------*/

#issues .pagination { font-size: 1.25em; float: right; margin: 10px;}
#issues ol { list-style-type:none; margin:0; padding:0; border:none; clear: both; }
#issues ol li { background-color: #F9F9F9; display: inline-block; border:none; padding: 0.25em; margin:0.25em;}
#issues ol li .cover {  }
#issues ol li .cover img { border:1px solid #EDEDED;}
#issues ol li .cover img:hover { border:1px solid #9cf;}
#issues ol li .small_top_button { float: right;}
#issues ol li .details { clear: left; width: 96%; margin: 0 2%;}
#issues ol li .details h4 { float: left; font-size: 0.9em; color: #222; font-weight: normal; margin: 0.2em 0em; font-family: georgia, "Times New Roman", times, serif;}
#issues ol li .details p.kill_link  { float: right; width: 12px; margin: 0; margin-right: 0.5em; }
#issues ol li .details p.kill_link a { color: red;}

#issue h1 { margin: 0.2em 0;}
#issue legend { padding-left: 2em;}
#issue label { font-size: 1.2em; color: #333; }
#issue .details { width:55%; margin-right: 2%;float: left;}
/*#issue .cover { width:43%;float: right; }*/
#issue .cover img { margin: 0em 1.5em; border:1px solid #AAA; }
#issue .column_holder>div { margin-bottom: 0.75em; min-height: 2.5em;}
#issue #issue_date { font-size: 1.6em; padding: 0.1em; font-family: georgia, "Times New Roman", times, serif;  color: #333;}
#issue #issue_volume { width: 1.8em; font-size: 1.6em; font-family: georgia, "Times New Roman", times, serif; }
#issue #issue_number { width: 1.8em; font-size: 1.6em; font-family: georgia, "Times New Roman", times, serif; }
#issue #issue_name { font-size: 1.6em; width: 98%;}
#issue #issue_description{ width:96.5%; height: 6em; padding: 0.5em; font-family:georgia,"times new roman",times, serif; color:#333; font-size: 15px; line-height: 21px; }
#issue button.save { float: right; font-size: 1.3em; margin: 0.2em 0;}
#issue #issue_pdf {  width: 94.5%; background-color: #fff9e5; float: left; border:1px solid #AAA; margin: 0em 1.5em; margin-bottom: 1em; }
#issue #issue_pdf_upload { margin: 0 1em; }
#issue #issue_pdf_upload p.file { margin: 0 0.8em; margin-top: 0.5em; min-width: 60%; float: right; text-align: right; }
#issue .upload_button { height: 28px; display: block; float: left; margin-top: 0.5em; margin-bottom: 0.5em; background:#ddd url('/images/bg-button.gif') repeat-x 0 0; border:1px solid #AAA; }
#issue .upload_button:hover { cursor:pointer; border-color:#9cf !important; color:#000; }
#issue .upload_button:active { background-position:0 -400px; outline:none; }
#issue #issue_pdf_upload #divFileProgressContainer { float: left; width: 100%; font-size: 0.9em;}

/*-----------------------------------
/*		Upload progress bar styles
/*---------------------------------------*/

/* progress bar styles */
.progressWrapper {	float: left; width: 100%; overflow: hidden; }
.progressContainer { margin-bottom: 0.5em; padding: 4px; border: solid 1px #E8E8E8; background-color: #F7F7F7; overflow: hidden; }
/* Message */
.message { margin: 1em 0; padding: 10px 20px; border: solid 1px #FFDD99; background-color: #FFFFCC; overflow: hidden; }
/* Error */
div.red { border: solid 1px #B50000; background-color: #FFEBEB;}
/* Current */
div.green { border: solid 1px #DDF0DD;	background-color: #EBFFEB; }
/* Complete */
div.blue { border: solid 1px #CEE2F2; background-color: #F0F5FF; }
.progressName { font-size: 8pt; font-weight: 700; color: #555; width: 323px; height: 14px; text-align: left; white-space: nowrap; overflow: hidden; }
.progressBarInProgress,
.progressBarComplete,
.progressBarError { font-size: 0; width: 0%; height: 2px; background-color: blue; margin-top: 2px; }
.progressBarComplete { width: 100%; background-color: green; visibility: hidden; }
.progressBarError { width: 100%; background-color: red; visibility: hidden; }
.progressBarStatus { margin-top: 2px; width: 337px; font-size: 7pt;	text-align: left; white-space: nowrap;}

a.progressCancel { font-size: 0; display: block;width: 10px; height: 11px; background-image: url('/images/token_x_red.gif'); margin: 3px; float: right; }

/*-----------------------------------
/*		Comment styles
/*---------------------------------------*/
ol#all_comments { border: 1px solid #DEDEDE; margin-bottom: 20px; }
ol#all_comments li { width: 100%; float: left; position: relative; padding: 5px 0; }
ol#all_comments li + li	{ border-top: 1px dotted #CCC; }
ol#all_comments li p { font-size: 90%; line-height: 1.3; }
ol#all_comments .details { float: left; width: 20%; padding: 1.5% 1%; margin-right: 1%; }
ol#all_comments .details p { margin-bottom: 10px; }
ol#all_comments .details .delete { position: absolute; top: 15px; right: 15px; }
ol#all_comments .comment { background-color: white; border: 1px dotted #CCC;  float: left; width: 50%; margin-right: 21%; padding: 1.5% 1%; margin: 0.75% 0; }

/*-----------------------------------
/*		Blog styles
/*---------------------------------------*/

body.blogs h1, body.lists h1, body.pages h1 {
    float: left;
    margin-right: 0px !important; /* Force away margin while buttons in #page_containers are being transitioned to new style */
}

.blogs ol.blogs li.even,
.blogs ol.blogs li.odd 						{ background-color: #FFF; }
ol.blogs 									{ float: left; clear: left; width: 100%; margin: 10px 0; }
ol.blogs > li 								{ padding: 20px 0; float: left; width: 100%;  border-top: 1px solid #aaa; }
ol.blogs .left 								{ float: left; width: 31%; margin-right: 2%;}
ol.blogs .right 							{ float: left; width: 67%; }
ol.blogs ol.articles li a.destroy_link 		{ display: inline; }
ol.blogs h2 								{ font-weight: 200; font-size: 2.2em; margin-bottom: 25px; margin-top: 0; }
ol.blogs .no_entries em 					{ display: block; padding: 10px;}
ol.blogs .details							{ float: left; width: 100%; }

ol.blogs.small > li 								{ padding: 10px; border: none; }
ol.blogs.small > li + li 							{ padding-top: 20px; }
ol.blogs.small > li .description	 				{ display: none; }
ol.blogs.small .right > p 							{ font-size: 0.8em; }
ol.blogs.small .left h2								{ font-size: 1.4em; margin-bottom: 10px; text-decoration:none; }
ol.blogs.small .left img							{ display: none; }
ol.blogs.small .left .details						{ font-size: 0.75em; line-height: 1.2; }
ol.blogs.small ol.articles,
ol.blogs.small ol.articles li 						{ border-color: #AAA; }
ol.blogs.small ol.articles li .details				{ min-height: 0; }
ol.blogs.small ol.articles li .details h1			{ font-size: 0.9em; margin: 0; line-height: 1.2; }
ol.blogs.small ol.articles li .mediafiles img		{ height: 16px; }
ol.blogs.small ol.articles li .mediafiles object 	{ display: none; }
ol.blogs.small ol.articles li .details p,	
ol.blogs.small ol.articles li .date p + p			{ display: none; }		

.blog_title { color: #999; font-weight: 200; }

#contributors { font-size: 1.4em; }
#contributors li { margin-bottom: 10px; }

#entry_form { width: 68%; float:left; }
#entry_form h1 strong { color: #444; font-weight: normal;}
#entry_form h3 { font-weight: normal; font-size: 1.5em; margin: 0.25em 0;}
#entry_form #entry_title { margin-bottom: 0.5em; font-size: 1.9em; height: 1.2em; padding: 0.1em;}
#entry_form #entry_subtitle { margin-bottom: 0.75em; font-size: 1.4em; height: 1.2em; padding: 0.2em; width: 99.75%;}
#entry_form #entry_date { font-size: 14px; height: 1.2em; margin: 0.125em 0; padding: 0.125em 0; background-color: #F9F9F9;}
#entry_form #entry_section_id { height: 1.6em; max-width: 22em; font-size: 14px; margin: 0.25em 0; background-color: #F9F9F9; }
#entry_form small { color: #999; font-style: italic; }
#entry_form #entry_bodytext { width:99%; border: 1px solid #999; background-color: #F9F9F9; height: 400px; padding: 5px; font-family:georgia,"times new roman",times, serif; color:#333; font-size: 15px; line-height: 21px; }
#entry_form #entry_summary { width:99%; height: 85px;  background-color: #F9F9F9; border-color: #999; padding: 0.5em; line-height: 1.4; color: #333;}
#entry_form #authorships_form { background-color: #F9F9F9; }
#entry_form #entry_authors_list{ border:3px solid #F9F9F9!important;border-left:none;display:block;margin:0px 3px -4px -2px;background-color: #F9F9F9;padding:0px!important;color: #515151;}
/*IE6-/Win only*/
/*\*/ * html .tokenizer_input_borderless #article_authors_list { border:3px solid black;margin: -3px 3px -4px 14px:padding-left:10px; } /**/
#entry_form #autocomplete_populate{ width: 450px;}
#entry_form #author_list { margin-bottom: 1.5em; line-height: 1.6; }

/*-----------------------------------
/*		Lists styles
/*---------------------------------------*/
ol.lists 						{ float: left; clear: left; width: 100%; border: 1px dotted #999; margin-bottom: 5px; }
ol.lists > li 					{ padding: 10px; position:relative; background-color: #FBFBFB; }
ol.lists > li + li 					{ border-top: 1px dotted #999; }
ol.lists h3					 	{ float: left; font-size: 23px; margin: 0 10px 0 0; font-weight: normal; }
ol.lists h3 + a 				{ float: left; padding-top: 4px;}
ol.lists ol.documents 			{ margin-top: 10px; margin-left: 5%; width: 90%; }
ol.lists li a.destroy_link 		{ position: absolute; top: 2px; right: 4px; line-height: 0.8;}
ol.lists .updated_at 			{ float:right;padding: 5px 0 0 0; font-size: 13px; }

ol.lists.small h3				{ font-size: 19px; }
ol.lists.small a.destroy_link 	{ display:none; }

form.list h2					{ margin-top: 0; }
form.list #list_preview 							{ display:none; }
form.list.use_preview #list_name_input,
form.list.use_preview #list_description_input 		{ display: none; }
form.list.use_preview #list_preview 				{ display: block; min-height: 140px; font-size: 1.1em; }
form.list.use_preview #list_preview p				{ width: 70%; line-height: 1.3; }

#list_items { margin-bottom: 5px; clear:left; }

/*-----------------------------------
/*		Categories styles
/*---------------------------------------*/

#form_categories>ol { padding: 0 0.5em; margin: 0; max-height: 12em; overflow: auto;}
#form_categories li>ol { padding-left: 1em; margin-bottom: -0.25em; } /* Negative margin prevents the inner and outer list item margins from making spacing between last <li> in inner <ol> and the next <li> even */
#form_categories li { padding: 0.25em 0.125em; }

/*-----------------------------------
/*		Page styles
/*---------------------------------------*/

#pages { float: left; clear: left; width: 100%; border: 1px dotted #999; background-color: #F0F0F0; margin-bottom: 5px; }
#pages li { padding: 10px; position:relative; }
#pages > li+li { border-top: 1px dotted #999; }
#pages .name { font-size: 20px; margin-bottom: 5px; }
#pages .name a { margin-right: 7px; }
#pages ol { margin: 0; padding-left: 15px; }
#pages ol .name { font-size: 17px; line-height: 1.4; }
#pages ol.children { float: left; clear: left; }
#pages ol li { float: left; clear: left; padding: 0 0 0px 0; }

ol#pages li a.destroy_link {
  line-height: 0.3;
  position: absolute;
  right: 4px;
  top: 4px;
  margin-right: 0px;
}

#page_contents_input { float: left; width: 100%; }
#page_name_input label { float: left; width: auto; margin-right: 5px; line-height: 1.5; }
#page_name_input input { width: 35%; }

/*-----------------------------------
/*		Design and template styles
/*---------------------------------------*/

#templates { margin-bottom: 10px; }
#templates h2, #template_files h2 { margin: 0 0 15px 0; }
#templates h3, #template_files h3 { float: left; clear: left; font-size: 16px; font-weight: normal; margin: 0px 10px 5px 0;   }
#templates h3+a, #template_files h3+a { padding: 2px 3px; font-size: 11px; position: relative; top: 3px; }
#templates ul, #template_files ul { clear:left; border: 1px dotted #999; margin-bottom: 20px; }
#templates ul li, #template_files ul li { padding: 5px; }
#templates ul li+li, #template_files ul li+li { border-top: 1px dotted #999; }
#templates .last_updated, #template_files .last_updated { float: right; font-size: 80%; padding: 0 10px; }
#templates .destroy_link, #template_files .destroy_link { float: right;  }

span .liquid_error { font-size: 85%; margin-left: 20px; color: red; }

form.template #template_info_preview 							{ display:none; }
form.template.use_preview .preview					 			{ display: none; }
form.template.use_preview #template_info_preview 				{ display: block; font-size: 1.1em; margin-bottom: 20px; }
form.template.use_preview #template_info_preview h2				{ font-weight: 200; }
form.template.use_preview #template_info_preview p				{ width: 70%; line-height: 1.3; margin-bottom: 10px; }
form.template.use_preview #template_info_preview strong			{ font-size: 90%; }

ol#designs { }
ol#designs { float: left; clear: left; width: 100%; border: 1px dotted #999; margin-bottom: 5px; }
ol#designs li { padding: 10px; position:relative; background-color: #F0F0F0; }
ol#designs li+li { border-top: 1px dotted #999; }
ol#designs li a.destroy_link { position: absolute; top: 2px; right: 4px; line-height: 0.8;}
ol#designs h2, ol#designs p { float:left; margin-bottom: 0; margin-top: 0;  }
ol#designs p { padding: 7px 10px 0 10px; }

/*-----------------------------------
/*		Network styles
/*---------------------------------------*/

ol#network_articles li.network_original { background-color: #FEDBE4; }

ol#network_articles p.account { padding: 2px 3px; height: 16px; overflow: hidden; margin-bottom: 5px; font-weight: 400; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.color_0 { background-color: #7991FF; color: white; }
.color_1 { background-color: #FF7C41; color: white; }
.color_2 { background-color: #2A6328; color: white; }
.color_3 { background-color: #E0526A; color: white; }
.color_4 { background-color: #402013; color: #FFF569; }
.color_5 { background-color: #6C3CC2; color: white; }
.color_6 { background-color: #D50700; color: white; }
.color_7 { background-color: #D2D5CB; color: #07099A; }
.color_8 { background-color: #FFF569; color: #402013; }
.color_9 { background-color: #AAE0DE; color: #0F2458; }

.networks ol#accounts li { height: 45px; font-size: 110%; }

/*-----------------------------------
/*		Footer styles
/* 		Relies on div#page_wrapper		
/*---------------------------------------*/

#footer_push { height: 30px; /* #footer_push must be the same height as #footer */  }
#footer { width: 99%; height: 30px; padding-right: 1%;background-color: #222; text-align: right; border-right: 1px solid #DDD;}
#footer p {
  margin: 0.7em 0;
  float: right;
  font-size: 1em;
  color: #fff9e5;
  font-weight: normal;
}

/* State control - Pill style state button */
.state_control 				{ 	float: right; margin-top: 3px; font-size: 80%; font-weight: normal; }
.state_control a			{ 	border: 1px solid #999; float: left; padding: 8px; color: #333; border-width: 1px 0 1px 1px; }
.state_control a.first		{ 	-moz-border-radius-topright: 0; -moz-border-radius-bottomright: 0; 
								-moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px;
								-webkit-border-bottom-left-radius: 5px; -webkit-border-top-left-radius: 5px; 
								-webkit-border-bottom-right-radius: 0; -webkit-border-top-right-radius: 0; }
.state_control a.last 		{ 	border-width: 1px 1px 1px ;
								-moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; 
								-moz-border-radius-topleft: 0; -moz-border-radius-bottomleft: 0;
								-webkit-border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; 
								-webkit-border-bottom-right-radius: 5px; -webkit-border-top-right-radius: 5px; }
.state_control a.selected { background-color: #666; color: #fAfAfA; }
.state_control a:hover 	{ text-decoration: none; background-color: #EFEFEF; }
.state_control a.selected:hover { background-color: #666; }




/* -------------------------------------------------------------------------------------------------

Formtastic changes

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

form.formtastic h1 { margin-bottom: 0px; }

form.formtastic fieldset > ol > li { display: block; position: relative; }
form.formtastic fieldset > ol > li label { width: 100%; padding-bottom: 3px; }

form.formtastic fieldset > ol > li label abbr { display: none; }

form.formtastic fieldset > ol > li.string input { width:100%; max-width: 100%; }
form.formtastic fieldset > ol > li.password input { width:100%; }
form.formtastic fieldset > ol > li.numeric input { width:100%; }
form.formtastic fieldset > ol > li.text textarea { width:100%; }

form.formtastic fieldset > ol > li.text { float:left; width: 100%; }


form.formtastic fieldset > ol > li.text .wmd-button-bar { float:left; width: 98.55%; padding: 0px 1%; border: 1px solid #DEDEDE; background-color: #EFEFEF; border-width: 1px 1px 0 1px; }
form.formtastic fieldset > ol > li.text .wmd-button-bar {  -moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;}
form.formtastic fieldset > ol > li.text .wmd-button-bar ul { padding: 3px 0 5px 0; }
form.formtastic fieldset > ol > li.text .wmd-button-bar ul li { -moz-border-radius: 2px; -webkit-border-radius: 2px; }
form.formtastic fieldset > ol > li.text .wmd-button-bar .wmd-button { border: 1px solid #AAAAAA; }

form.formtastic fieldset > ol > li.boolean label { padding: 0; }

form.formtastic fieldset > ol > li.string input { padding: 0.3em 0.1em; font-size: 1.2em; border: 1px solid #DEDEDE; background-color: #FDFDFD; }
form.formtastic fieldset > ol > li.password input { padding: 0.3em 0.1em; font-size: 1.2em; border: 1px solid #DEDEDE; background-color: #FDFDFD; }
form.formtastic fieldset > ol > li.text textarea { padding: 0.1em; font-size: 1.2em; line-height: 1.4; border: 1px solid #DEDEDE; background-color: #FDFDFD; }

form.formtastic fieldset > ol > li p.inline-errors { margin: 0; }
form.formtastic fieldset > ol > li.string p.inline-hints { margin: 0.5em 0; }

form.formtastic fieldset > ol > li.commit { text-align: right; margin-bottom: 0; }

form.formtastic fieldset.buttons { padding-left: 0; float: right; }

form.formtastic fieldset fieldset { border: 1px solid #CCC; width: 96%; padding: 2%; margin-bottom: 1.5em; }
form.formtastic fieldset fieldset legend { text-decoration: underline; }
