@import "hotink/buttons.css";
@import "hotink/helpers.css";
@import "hotink/navigation.css";
@import "hotink/modal.css";

body{ font-size: 13.34px; line-height: 1.4; margin: 0; font-family: "lucida grande", Verdana, Helvetica, Arial, sans-serif; }
h1, h2, h3 { padding-bottom: 5px; font-weight: 200; margin: 0; }
ol, ul { list-style-type: none; float: left; padding: 0; margin: 0;}
ol li { padding: 8px 10px; }
a { color: #222; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { color: #777; }

div#page_container { margin: 0 auto; width: 960px;}
div#page_container>h1 { margin: 10px 0; }

#notice, #test_email_notice { color: green; }

.button_link { outline: none; font-size: 11px; padding: 3px; color: black; background-color: #FFF6DD; border: 1px solid #333;-moz-border-radius: 3px; -webkit-border-radius: 3px; }
.button_link:visited { color: black; }
.button_link:hover { text-decoration: none; background-color: #CEE4F3; }
.button_link:active { background-color: #EEF4FF; }

h3 { float: left; clear: left; font-weight: bold; padding: 3px 7px; text-decoration: underline; border: 2px solid #CEE4F3; border-bottom-width: 0; 
	-moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; }
h3.mailouts { border-color: #CEE4F3; }
h3.email_templates { border-color: #DEFFDB; }
h3+a,h3+a+a { float: left; margin: 0; margin-left: 10px; }
h3+p { padding: 10px 7px 0 7px; width: 679px; margin: 0; float: left; clear: left; background-color: #CEE4F3; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; }
ol#mailouts, ol#email_templates  { width: 954px; border: 2px solid #CEE4F3; border-top-width: 10px; font-size: 11px; float: left; clear: left; margin-bottom: 10px; }
ol#email_templates { background-color: #DEFFDB; border-color: #DEFFDB; }
ol#mailouts li, ol#email_templates li { position: relative; }
ol#mailouts li.even, ol#email_templates li.even  { background-color: #EFEFEF; }
ol#mailouts li.unsent { background-color: #FFF6DD; }
ol#mailouts li+li, ol#email_templates li+li { border-top: 1px dotted #999; }
ol#mailouts h1, ol#email_templates h1 { font-size: 16px; width: 550px; padding-left: 10px; float: left; }
ol#mailouts input, ol#email_templates input { float: left; }
ol#mailouts p, ol#email_templates p { margin: 2px; float: left; }
ol#mailouts p.date, ol#email_templates p.date { float: right; font-size: 17px; width: 85px; color: #AAA; }
ol#mailouts p.date small, ol#email_templates p.date small { display: block; font-size: 8px; color: #777; }
ol#mailouts li .delete a, ol#email_templates li .delete a { background: url('/images/token_x_red.gif') no-repeat; }
ol#mailouts li .delete a:hover, ol#email_templates li .delete a:hover { text-decoration: none; }
ol#mailouts li div.delete, ol#email_templates li div.delete { float: right; width: 10px; height: 1.2em; margin-right: 0; }

#page_container div#articles_wrapper {float: left; }
#page_container div#articles_header, #page_container ol#articles { width: 550px; }
#page_container div#articles_header h2 { font-weight: bold; }
#page_container ol#articles { border: 1px dotted #777; }
#page_container ol#articles li { padding: 5px; margin: 0; background-color: #CEE4F3; }
#page_container ol#articles li+li { border-top: 1px dotted #777; }
#page_container ol#articles li div { float: left; }
#page_container ol#articles li .article { width: 65%; }
#page_container ol#articles li .article, #page_container ol#articles li .section {  border: 1px dotted #9cf; background-color: white; }
#page_container ol#articles li .article h1, #page_container ol#articles li .section, #page_container ol#articles li .date { color: #515151; }
#page_container ol#articles li .section, #page_container ol#articles li .date, 
#page_container ol#articles li .article h1, #page_container ol#articles li .article .authors,#page_container ol#articles li .article .media  { padding: 5px; }
#page_container ol#articles li .article h1 { font-size: 12px; border-bottom: 1px solid #DDD;  }
#page_container ol#articles li .article .article_details { width: 100%; min-height: 24px; }
#page_container ol#articles li .article .authors { font-size: 10px; }
#page_container ol#articles li .article .media { float: right; }
#page_container ol#articles li .section { width: 15%; font-size: 12px; margin: 0 5px; overflow: hidden; }
#page_container ol#articles li .date { width: 12%; font-size: 15px; float: right; text-align: right; }

#page_container .pagination { float: right; position: relative; }
#page_container .pagination img { position: relative; top: 4px; }

#page_container #mailout_articles { float: left; clear: left; margin-right: 15px; }
#page_container #mailout_articles h2 { float: none; font-weight: bold; }
#page_container #mailout_articles ol, #mailout_articles ul { width: 330px; }
#page_container #mailout_articles ol { min-height: 15px; padding-left: 20px; list-style-type: decimal; border: 1px solid #DEDEDE; background-color: #FFF6DD;}
#page_container #mailout_articles ol li { padding: 10px; margin: 10px; background: #FDFDFD; border: 1px solid #DEDEDE; }
#page_container #mailout_articles ol li .empty_link { float: right; color: red; text-decoration: none; margin-right: 5px; font-size: 0.9em; }
#page_container #mailout_articles ol li h1 { font-size: 12px;  }
#page_container #mailout_articles ol li .authors { float: left; font-size: 10px; font-weight: bold; }
#page_container #mailout_articles ol li .media { float: right; margin-right: 20px; }

#page_container #mailout_articles ul { clear: left; }
#page_container #mailout_articles ul li { margin: 10px; width: 145px; float: left; }
#page_container #mailout_articles ul li a { display:block; text-align: center; font-weight: bold; width: 100%; color: #333; }
#page_container #mailout_articles .button_link { background-color: #DEDEDE; }
#page_container #mailout_articles .button_link:hover { background-color: #CEE4F3; }

/* Form style shouldn't interfere with modal forms */
#page_container form { float: left; clear: both; }
#page_container form input, form select, form textarea { color: #333; }	
#page_container form textarea  { width: 100%; height: 80px;}
#page_container form input[type="text"], form textarea { border: 1px solid #DEDEDE; font-size: 16px; }
#page_container form input[type="text"] { padding: 3px; }
#page_container form select { font-size: 17px; margin-left: 25px; border:none; }
#page_container form input[type="submit"] { font-size: 18px; }
#page_container form>fieldset { float: left; width: 920px; margin-bottom: 20px; border: none; border: 1px solid #DEDEDE; }
#page_container form>fieldset legend { border-bottom: 1px solid #222; }
#page_container form>fieldset>legend { font-size: 22px; font-weight: bold;  }
#page_container form>fieldset fieldset { border: none; background-color: #FFF6DD; }
#page_container form>fieldset fieldset legend { font-size: 18px; padding: 5px 10px; margin-left: 10px; border: none; font-weight: bold; background-color: #FFF6DD; }
#page_container form>fieldset label { font-size: 15px; font-weight: bold; }
#page_container form>fieldset ol { border: none; width: 100%; }
#page_container form>fieldset li { margin: 10px 0; border: none; }
#page_container form>fieldset input[type="text"] {  width:83%; float: right; }
#page_container form>fieldset input[type="submit"] { float: right; }

#page_container form.template_form label { display: block; }
#page_container form.template_form textarea { height: 350px; padding: 5px 0; font-family: courier, mono;}
#page_container form.template_form input[type="text"] { width: 90%; }

#page_container h2, h2+p, ol#articles { float: left; clear: both; }	

#details { width: 300px; margin-right: 20px; float: left; }
#details #sent { padding: 10px; background-color: #CEE4F3; border: 1px solid #DEDEDE; }
#details #sent div { float: left; width: 96%; padding: 2%; background-color: white; border: 1px solid #DEDEDE; }
#details #sent div+div { margin-top: 10px;}
#details #sent h2 { font-size: 14px; font-weight: bold; text-decoration: underline; }
#details #sent li { margin: 0; }
#details #sent input[type="text"] { font-size: 13px; }
#details #sent input[type="submit"] { font-size: 12px; float: right; margin-top: 5px; }
#details #sent input#send_button { font-size: 20px; }
#details>h2 { float: none; font-weight: bold; margin: 10px 0; padding:0; }
#details>form { margin-bottom: 20px; }
#details form div { margin: 10px 0; }

#details dl { font-size: 15px; margin: 0; }
#details dl, #details dl dt, #details dl dd { float: left; margin: 0; }
#details dl dt { font-weight: bold; text-decoration: underline; }
#details dl dd { margin: 5px 0 15px 0; }
#details dl dt, #details dl dd { clear: left; }
#details dl dl { margin-left: 20px; }

#previews { font-size: 70%; width: 618px; float: left; padding: 10px; border: 1px solid #DEDEDE; background-color: #FFF6DD; }
#details>h2, #previews>h1 { font-weight: bold; padding-bottom: 0px; border-bottom: 1px solid #DDD; margin-bottom: 10px; }
#previews>div, #previews>iframe { float: left; font-size: 130%; height: 500px; width: 604px; padding: 5px; background-color: white; border: 2px solid #CEE4F3; overflow: auto; margin-bottom: 20px; }

.footer { float:left; width: 960px; margin-top: 20px; margin-bottom: 10px; text-align: right; font-size: 0.8em;}

/* Clearfix */
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix {display: block; }

.transparent  {
		filter: alpha(opacity=40); /* internet explorer */
		-khtml-opacity: 0.40;      /* khtml, old safari */
		-moz-opacity: 0.40;       /* mozilla, netscape */
		opacity: 0.40;           /* fx, safari, opera */
}