body{ font-size: 12px; font-family: "lucida grande", Verdana, Helvetica, Arial, sans-serif; }
h1, h2, h3 { padding-bottom: 5px; font-weight: 200; margin: 0; }
ol { list-style-type: none; float: left; padding: 0; margin: 0;}
ol li { padding: 8px 10px; }
a { color: #222; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { color: #777; }

body>p { max-width: 700px; }
body>ol { width: 700px;}

.button_link { outline: none; font-size: 11px; padding: 3px; color: black; background-color: #FFF6DD; border: 1px solid #333;-moz-border-radius: 3px; -webkit-border-radius: 3px; }
.button_link:visited { color: black; }
.button_link:hover { background-color: #CEE4F3; }
.button_link:active { background-color: #EEF4FF; }

h3 { float: left; clear: left; font-weight: bold; padding: 3px 7px; text-decoration: underline; border: 2px solid #CEE4F3; border-bottom-width: 0; 
	-moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; }
h3+a { float: left; margin: 0 10px; }
h3+p { padding: 10px 7px 0 7px; width: 679px; margin: 0; float: left; clear: left; background-color: #CEE4F3; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; }
ol#mailouts { border: 2px solid #CEE4F3; border-top-width: 10px; font-size: 11px; float: left; clear: left; margin-bottom: 10px; }
ol#mailouts li { position: relative; }
ol#mailouts li.even { background-color: #EFEFEF; }
ol#mailouts li+li { border-top: 1px dotted #999; }
ol#mailouts h1 { font-size: 16px; width: 550px; padding-left: 10px; float: left; }
ol#mailouts input { float: left; }
ol#mailouts p { margin: 2px; float: left; }
ol#mailouts p.date { float: right; font-size: 17px; width: 85px; color: #AAA; }
ol#mailouts p.date small { display: block; font-size: 8px; color: #777; }
ol#mailouts li .delete a { background: url('/images/token_x_red.gif') no-repeat; }
ol#mailouts li .delete a:hover { text-decoration: none; }
ol#mailouts li div.delete { float: right; width: 10px; height: 1.2em; margin-right: 0; }

div#articles_wrapper {float: left}
div#articles_header, ol#articles { width: 480px; }
div#articles_header h2 { font-weight: bold; }
ol#articles { border: 1px dotted #777; }
ol#articles li { padding: 5px; background-color: #CEE4F3; }
ol#articles li+li { border-top: 1px dotted #777; }
ol#articles li div { float: left; }
ol#articles li .article { width: 65%; }
ol#articles li .article, ol#articles li .section {  border: 1px dotted #9cf; background-color: white; }
ol#articles li .article h1, ol#articles li .section, ol#articles li .date { color: #515151; }
ol#articles li .section, ol#articles li .date, 
ol#articles li .article h1, ol#articles li .article .article_details { padding: 5px; }
ol#articles li .article h1 { font-size: 13px; border-bottom: 1px solid #DDD;  }
ol#articles li .article .article_details { min-height: 18px; }
ol#articles li .section { width: 15%; font-size: 15px; margin: 0 5px; overflow: hidden; }
ol#articles li .date { width: 12%; font-size: 15px; float: right; text-align: right; }

.pagination { float: right; position: relative; }
.pagination img { position: relative; top: 4px; }

form { float: left; clear: both; }	
form>fieldset { float: left; width: 684px; margin-bottom: 20px; border: none;  }
form>fieldset legend { font-size: 17px; border-bottom: 1px solid #222; }
form>fieldset>legend { font-size: 22px; font-weight: bold;  }
form>fieldset label { font-size: 15px; font-weight: bold; }
form>fieldset ol { border: none; width: 100%; }
form>fieldset li { margin: 10px 0; border: none; }
form>fieldset input[type="text"] { font-size: 14px; width:83%; float: right;}

h2, h2+p, ol#articles { float: left; clear: both; }	

p.footer { float:left; clear: both; max-width: 960px; width: 960px; margin-top: 20px; margin-bottom: 10px; text-align: right; font-size: 0.8em;}

/* Overlay css */

#overlay{ position: absolute; top: 0; left: 0; z-index: 900; width: 100%; height: 500px; background-color: #000; }
#overlaybox{ position: absolute; left: 0; width: 100%; z-index: 1000; text-align: center; }
#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0;}
#overlay_container{ position: relative; width: 250px; height: 250px; background-color: #fff; margin: 0 auto;}
#overlay_content { width: auto; margin-bottom: 0; text-align: left; padding: 5px; background-color: #fff; border: 1px solid #515151;}
.close_button  { float: right; background-image: url('/images/token_x_red.gif'); width: 10px; height: 10px; margin: 0; margin-right: 0.125em; display: inline-block; font-size: 1em; }
.close_button a { color: #FFF; display: inline-block; width: 100%;height: 100%;}
div.small_top_button { display: block; position: relative; top: -13px; left: 17px; clear:left; float: right; height: 0px; overflow: visible; }
div.small_top_button a { padding: 5px; }
div.small_top_button a img { width: 18px; border: none; }

/* Clearfix */
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix {display: block; }

.transparent  {
		filter: alpha(opacity=40); /* internet explorer */
		-khtml-opacity: 0.40;      /* khtml, old safari */
		-moz-opacity: 0.40;       /* mozilla, netscape */
		opacity: 0.40;           /* fx, safari, opera */
}