<div class="action grid_6 prefix_2 suffix_4">
	<h1>Delete</h1>
	<p>The selected documents will be deleted forever.</p>
	<p style="text-align:right;"><%= button_link_to_submit "Delete", :class=>"save cancel large" %></p>
</div>