<div class="action grid_6 prefix_2 suffix_4">
	<h1>Unpublish</h1>
	<p>Unpublishing will make the selected documents no longer viewable by the public.</p>
	<p style="text-align:right;"><%= button_link_to_submit "Unpublish", :class=>"large cancel" %></p>
</div>