<li id="section_<%= section.id %>" class="section <%= cycle("even-row", "odd-row") %> clearfix">
	<%= section.name %>
	
	<% if section.has_children? %>
		<ol class="subcategories">
			<%= render section.children %>
		</ol>
	<% end %>
</li>