<h1>Hey, you!</h1>

<p>Congratulations, you're invited to the brand new CUP wire on the Hot Ink publishing system.</p>

<p>Once you activate this account for your paper, you can add other users from your paper by pressing 
	"Manage account" and clicking "Users". After new users have activated their accounts, you can promote 
	whoever is appropriate to share your wire management responsibilities. It's recommended that each 
	account have more than one manager.</p>

<p>If you need help at any point, email your Hot Ink administrator Chris Dinn at chris@hotink.net or 
	national bureau chief Josh O'Kane at national@cup.ca.</p>

<p>To get started, follow the link below (or paste it into your browser address bar.) For security reasons, 
	this invitation will only be valid for ONE WEEK.</p>

<p><a href="<%= @edit_invitation_url %>"><%= @edit_invitation_url %></a></p>

<p>The new system is meant to be completely intuitive and is designed with student newspapers in mind. Uploading
	 to the wire is as simple as clicking the "New Article" button at the top left of your paper's main Hot Ink
	page. Attaching photos—or any other media, including audio, video or PDFs—just requires that you press "Attach
	 Media" on the right-hand side of the New Article screen. The new system makes it much simpler to upload a story 
	and all the media that go with it.</p>

<p>Hot Ink is still in its infancy, so you may find some small bugs or a few broken features on the new wire. We're
	 constantly working to make things perfect, so please take the time to file a report on any bugs you encounter. 
	You can find a link to our bug reporting system at the bottom of every page.</p>

<p>Thanks for your interest in Hot Ink.</p>
