<li id="invitation_<%= invitation.id %>" class="<%= cycle("even-row", "odd-row") %> clearfix">
	<div class="user clearfix">
		<p class="email"><%= invitation.email %></p>
		<p class="name">Invitation</p>
		<p class="kill_link"><%= link_to_remote "x", :url=>account_invitation_url(@account, invitation), :method => :delete, :update=>"users-window", :after=>"$(this).up().up().up().addClassName('transparent');" %></p>
	</div>
</li>