<% form_remote_tag :url=>account_activations_url, :after=>"$(this).disable();$(this).select('.spinner')[0].show();", :update=>'accounts-window', :confirm => "You're about to issue a whole new account. Once activated, this account will represent a whole new publisher.\n\nAre you sure you want to do this? Are you sure you got the email address right?\n\nPress 'OK' to send an invitation.", :html=>{:class=>"activation_form"} do %>
<fieldset>
	<legend>New account</legend>
	<p>To create an account, enter the <strong>email address</strong> of the new account manager below.</p>
	<div class="column_holder clearfix">	
		<div class="two_thirds_column">
			<%= text_field_tag "account_activation[email]", nil, :class=>"text_input" %>
			<small><%= flash[:account_activation_notice] %></small>
		</div>
		<div class="third_column">
			<img src="/loading_small_white.gif" style="display:none;float:right;margin-left:1em;margin-top:0.5em;" class="spinner"/><%= button_link_to_submit "Create account", :class=>"save large"%>
		</div>
</fieldset>
<% end %>
