<div id="account_article_mediafiles_list" class="media_list">
<% if @mediafiles.empty? %>
	<p class="no_media">
		No media attached.
	</p>
<% else %>
	<% for mediafile in @mediafiles %> 
		<% if mediafile.is_a? Image %>
			<%= render :partial=>'mediafiles/article_form/image', :object=> mediafile %>
		<% elsif mediafile.is_a? Audiofile %>
			<%= render :partial=>'mediafiles/article_form/audiofile', :object=> mediafile %>
		<% else%>
			<%= render :partial=>'mediafiles/article_form/mediafile', :object=> mediafile %>
		<% end %>
	<% end %>
<% end %>
<%= button_link_to_remote "Attach Media", :url=>new_account_article_mediafile_url(@account, @article, :format=>:js), :method=>:get %>
</div>
<script type="text/javascript" charset="utf-8">
	$('account_article_mediafiles_list').select('textarea').each(function(ta){ new ResizingTextArea(ta); });
	
</script>