<div id="attach_media_container" class="column_holder clearfix">
	<p class="close_button"><a href="#" class="close_window" onclick="article_form_overlay.end();return false;">x</a></p>
	<div id="upload_media_form" class="two_thirds_column">
				<h4>Upload media file</h4>
			<div>
				<% form_for [@account, @article, @mediafile], :html=>{:multipart=>true, :target=>"upload_frame", :onsubmit => "article_form_overlay.end();$('account_article_mediafiles_list').insert('<img class=\"mediafile_loading\" src=\"/loading.gif\" />');"} do |f| %>
					<%= f.error_messages %>
					<p>
						<%= f.label :file, "Media file" %><br />
						<%= f.file_field :file, :class=>"text_input" %>			
					</p>
					<p style="text-align:left;padding-top:10px;">
						<%= button_link_to_submit "Upload", :class=>"large save" %>
					</p>
				<% end %>
			</div>
	</div>
	<div class="third_column">
			<p class="faq question">What types of file can I upload?</p>
			<p class="faq answer">You can upload any type of file you want, but the system offers special support for a 
				few file types. They are:</p>
				<dl class="faq">
					<dt>jpeg, jpg, png, gif, tiff, or bmp</dt>
					<dd>Images will be displayed alongside your article.</dd>
					<dt>mp3</dt>
					<dd>Audio is playable in the browser window.</dd>
				</dl>
			<p class="faq answer">Other files can also be uploaded, attached and captioned alongside articles, but with no 
				special consideration.</p>
		</div>
</div>
<script type="text/javascript" charset="utf-8">
	load_button_fix();
</script>