<div class="file" style="background-color:#FFF;border: 1px solid #AAA;overflow:hidden;">
	<%= link_to_remote image_tag("/file.png", :align=>"left", :style=>"border:none;"), :url=>edit_account_mediafile_url(@account, mediafile, :format=>:js), :method=>:get %><p style="margin-left:3em;"><strong><%= mediafile.file_content_type %></strong><br /><%= mediafile.file_file_name %></p>
</div>