<div id="upload_media_form">
	<h4>Upload image</h4>
	<% form_for [@account, @article, @mediafile], :html=>{:multipart=>true, :target=>"upload_frame", :onsubmit => "article_form_overlay.end();$('account_article_mediafiles_list').insert('<img class=\"mediafile_loading\" src=\"/loading.gif\" />');"} do |f| %>
	 <%= f.error_messages %>
	  <p>
		    	<%= f.label :file, "Media file:&nbsp;" %>
		    	<%= f.file_field :file %>
	  </p>
	  <%= button_link_to_submit "Upload" %>
	<% end %>
</div>
