/* Clearfix */
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix {display: block; }

.translucent  {
		filter: alpha(opacity=8); /* internet explorer */
		-khtml-opacity: 0.8;      /* khtml, old safari */
		-moz-opacity: 0.8;       /* mozilla, netscape */
		opacity: 0.8;           /* fx, safari, opera */
}

.transparent  {
		filter: alpha(opacity=40); /* internet explorer */
		-khtml-opacity: 0.40;      /* khtml, old safari */
		-moz-opacity: 0.40;       /* mozilla, netscape */
		opacity: 0.40;           /* fx, safari, opera */
}

/* Tab Window UI-Control */ 
.ui-tabs { width: 100%; height: 31em; position: relative; z-index: 501;}
.ui-tabs>ul { list-style-type: none;}
.ui-tabs>ul li { padding: 0.35em 0.25em; font-size: 1.2em; color: #333;  text-align: center; cursor: pointer;}
.ui-tabs>ul li.ui-tabs-selected { background-color: #3D9BDF; cursor: pointer; }
.ui-tabs>ul li.ui-tabs-selected a { color: white; }
.ui-tabs ul {  border: 1px solid #DDD; background-color: #FFF;  }
.ui-tabs ul { float: left; width: 16%; margin: 0; margin-right: 1%; padding: 0; height: 99.25%; overflow:hidden;}
.ui-tabs>div { float: left; width: 79.25%; padding: 0 1.5%;  height: 99.25%; overflow:auto;  }
.ui-tabs>div h2 { font-family: georgia, "Times New Roman", times, serif; color: #333; font-size: 1.5em; margin:0.5em 0; font-weight: normal; }
.ui-tabs .ui-tabs-hide { display: none;}

/*Basic coloured links */
a.link 			{ border: 1px solid #AAA; color: white; padding: 4px 5px; font-size: 12px; 
					-webkit-border-radius: 4px; -moz-border-radius: 4px; }
a.link:hover 	{ background-color: #999; color: white; text-decoration: none;  }
a.link.small		{ padding: 2px 3px 2px 3px; font-size: 11px; }
a.blue 			{ background-color: #5886D1; }
a.yellow 		{ background-color: #fff9e5; color: #333; }
a.yellow:hover 	{ color: white; }
a.green 			{ background-color: #79A988; }
a.red 			{ background-color: #BC6765; }
a.grey 			{ background-color: #B0AAB7; }

/* Columns */
.column_holder { float: none; }
.third_column { float: left; width: 33%; }
.quarter_column { float: left; width: 25%; }
.four_tenths_column { float:left; width: 40%;}
.half_column { float: left; width: 50%; margin: 5px 0px; }
.six_tenths_column { float:left; width: 60%;}
.two_thirds_column { float: left; width:66%; }
.three_quarters_column { float: left; width: 75%;}
.tenth_column { float: left; width: 10%;}
.nine_tenths_column { float: left; width: 90%;}
.full_column { float: left; width: 100%;}
.left_column { text-align: right; }
.right_column { text-align: left; }

