/*-----------------------------------
/*
/*		Account management interface
/*
/*---------------------------------------*/

#account { width: 51em; margin: 0 auto; }
#account button { float: right; }
#account h1 {  font-size: 1.75em; margin:0.25em 0.25em; margin-top:0; font-weight: normal; font-family: georgia, "Times New Roman", times, serif; font-style: italic; color: #AAA; }
#account h2 { float: none; }
#account h4 { font-size: 1.05em; }
#account p { font-size: 0.9em; line-height: 1.45; margin: 0.5em 0; }
#account fieldset { border: none; padding: 0; float: left; width: 100%; }
#account .column_holder>div { margin-bottom: 1.5em; }
#account .text_input { font-size: 1.3em; padding: 0.2em; margin-bottom: 0.125em; color:#000; font-family: georgia, "Times New Roman", times, serif; width:93%;}
#account legend { font-size: 1.4em; padding: 0; padding-bottom: 0.3em; font-family: georgia, "Times New Roman", times, serif; font-style: italic; color: #AAA; }
#account .edit_account select { background: none; margin: 0; width: 100%; font-size: 1.2em; background-color: #F9F9F9; padding: 0.125em 0em; height: 1.8em; color: #333; border: 1px solid #DEDEDE;	}	
#account label { font-size: 1em; color: #333; padding: 0.5em; margin: 0 0.125em; display: block;}
#account .edit_account>div { margin-bottom: 1em;}

#account .account_settings h2 { margin-bottom: 1em;}
#account #images-window label{ padding-right: 3.5em; text-align: right;  color: #222; font-weight: bold; font-family: georgia, "Times New Roman", times, serif;}
#account #images-window input[type="text"] { width: 60px; }
#account #images-window .column_holder { margin-top: 1.5em; }

#account .activation_form button{ margin-top: 5%; font-size:0.8em;}
#account .activation_form .column_holder { margin-bottom: 0;}
#account .activation_form legend { margin: 0; }
#account .activation_form p { font-size: 0.9em; margin: 0.6em 0; margin-bottom: 0.75em;}
#account .activation_form .third_column { width: auto; margin-left: 0.7em;}
#account .activation_form input[type="text"] { width: 98%; padding: 0.125em 1%;}

#account .index >ol { height: 16.5em; border: 1px solid #DDD; overflow:auto;}
#account .index >ol li { width: 98%; border-top: none; margin: 0.25em 1%; } 
#account .index ol li h4 { padding: 0.25em 0.4em; margin:0; border-bottom: 1px solid #DDD; }
#account .index .account { width: 98%; height: 100%; line-height: 1.2em; background-color: #FFF; border: 1px dotted #9cf; }
#account .index .account h4 a{color:#ED1B8C;}
#account .index .account p { padding: 0.5em 0.4em; margin: 0; min-height: 1.1em; }

#account ol#users { height: 16.5em; border: 1px solid #DDD; margin-bottom: 20px; overflow:auto; }
#account ol#users li { width: 98%; border-top: none; font-size: 90%; padding: 10px 1%; }
#account ol#users li > span { margin-right: 5px; }
#account ol#users li .email { font-weight: bolder; }
#account ol#users li .kill_link { color: red; }

#account #categories-window h2 { float: left; }
#account #categories-window #categories_order_form { width: 45%; float: right; margin: 0.75em; margin-right: none; }

#account ol#categories { float: left; padding: 3px 0; width: 100%; height: 17.5em; border: 1px solid #DDD; overflow:auto; }
#account ol#categories li { width: 98%; padding: 5px 5px 10px 5px; }
#account ol#categories li div { float: left; }
#account ol#categories ol { border: none; clear: left; padding-left: 5%; width: 95%; padding-top: 5px; }
#account ol#categories li.inactive { color: #999; text-decoration: line-through; }
#account ol#categories .name { margin-right: 1em; }
#account ol#categories .drop_hover { background: url('/images/drag.png') no-repeat bottom left; }
#account ol#categories .drop_top {	background-position: top left; }
#account ol#categories .drop_bottom { background-position: bottom left; }
#account ol#categories .drop_insert { background-position: 65px 100%; }
#account ol#categories .text_input { float: left; width: 60%; margin-top: 0; padding-bottom: 1px; font-size: 1.1em; font-family: "lucida grande", verdana, arial, helvetica, sans-serif; }
#account ol#categories .save_button { margin: 0 1em; position: relative; top: 2px; }

#account #new_category_form { float: left; width: 100%; margin-top: 10px; }
#account #new_category_form select { height: 25px; font-size: 15px; margin-bottom: 0.5em; background: none; width: 97%; background-color: #F9F9F9; padding: 2px 0; color: #333; border: 1px solid #DEDEDE; }
#account #new_category_form .column_holder>div { margin-bottom: 0.25em;  }


/*-----------------------------------
/*		User details form styles
/*---------------------------------------*/

#overlay_content #user{ width: 35em; margin: 0.5em; margin-right: 1em; float: left;}
#user .column_holder>div { margin-bottom: 1.5em; }
#user label {margin-right: 0.5em;}
#user button.save { float: right; }
#user .text_input { font-size: 1.3em; padding: 0.2em; margin-bottom: 0.125em; color:#000; font-family: georgia, "Times New Roman", times, serif; width:95%;}
#user legend { font-size: 1.4em; padding-bottom: 0.5em; font-family: georgia, "Times New Roman", times, serif; font-style: italic; color: #AAA; }
#user select { background: none; margin: 0; width: 100%; font-size: 1.2em; background-color: #F9F9F9; padding: 0.125em 0em; height: 1.8em; color: #333; border: 1px solid #DEDEDE;	}	
#user label { font-size: 1em; color: #333; padding: 0.5em; margin: 0 0.125em; display: block;}
#user h1 {  float: left; width: 75%; font-size: 1.75em; margin: 0 0.25em; margin-bottom: 0.5em; font-weight: normal; font-family: georgia, "Times New Roman", times, serif; font-style: italic; color: #AAA; }
#user p { font-size: 0.9em; }

