#navigation { background-color: #1A1A1A; /* border-bottom: 1px solid #CEE4F3; */ padding-top: 10px; }

#navigation > div { height: 60px; position: relative; }

#navigation ol#links  { margin: 0; color: #1A1A1A; font-size: 14px; font-weight: 200; list-style: none; position: absolute; bottom: 0; left: 0; }
#navigation ol#links li { 
		float: left; margin: 0 7px 1px 0; padding: 1px 7px 2px 7px; background-color: #fff9e5; border: 1px solid #CCC; border-bottom-width: 0; 
	 	-webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px;
		-moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px;
}
#navigation ol#links li a { color: #000; }
#navigation ol#links li.current { background-color: #FFF; color: #515151; margin-bottom: 0px; padding-bottom: 3px; }
#navigation ol#links li.current a { color: #333; }
#navigation ol#links li a:hover { color: #333; }
#navigation ol#links li:hover { background-color: #CEE4F3; }

#navigation #user_details { 
	float: right; padding: 5px; margin-left: 5px; text-align: center; border: 1px solid #CEE4F3; background-color: #fff9e5; 
	-webkit-border-radius: 4px; -moz-border-radius: 4px;
}
#navigation #user_details p { display: inline-block; font-size: 0.85em; margin-bottom: 0; }

#navigation #account_details{ float: right; font-size: 1.0em; padding: 5px; }

#navigation #flash { padding: 5px; font-weight: 200; color: #F9F9F9; float: right; }

#navigation .btn { margin-bottom: 0em; }