@import "buttons.css";


#blog h2 { margin: 0.75em 0; float: left; font-weight: normal; font-size: 2.0em; font-family: georgia, "Times New Roman", times, serif;}
#blog h2+a { margin: 25px 0 0 10px; }
