<li id="category_<%= category.id %>" class="<%= cycle("even-row", "odd-row") %> clearfix">
	<%= category.name %>
	
	<% if category.has_children? %>
		<ol class="subcategories">
			<%= render category.children %>
		</ol>
	<% end %>
</li>