<li id="category_<%= form_category.id %>" class="clearfix">
	<% if document %>
		<% options = { 	:onclick => "if ($(this.checked)) { $('#{document.class.name.downcase}_categories_attributes_#{form_category.id}').value = 1; } else { $('#{document.class.name.downcase}_categories_attributes_#{form_category.id}').value = 0; }" } -%>
		<% options = options.merge({:disabled => "true"}) if document.section == form_category %>
		<% checked = document.categories.member?(form_category) ? true : false -%>
		<%= check_box_tag "category_" + form_category.id.to_s + "_checkbox", form_category.id.to_s, checked, options %>
	<% end %>
	<%= form_category.name %> 
	
	<% if form_category.has_children? %>
		<ol class="subcategories">
			<%= render :partial=>'categories/form_category', :collection => form_category.children, :locals => { :document => document } %>
		</ol>
	<% end %>
</li>