<h1>Listing sections</h1>

<table>
  <tr>
  </tr>

<% for section in @categories %>
  <tr>
	<td><%= link_to section.name, [@account, section]%></td>
    <td><%= link_to 'Edit', edit_account_section_path(@account, section) %></td>
    <td><%= link_to 'Destroy', [@account, section], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New section', new_account_category_path(@account) %>
