<h1>You need to create a Mailchimp list</h1>
<p>Before you can create a mailout, you need to create a list of subscribers (read: email addresses) to send your mailout to.
	<a href="http://www.mailchimp.com">Mailchimp</a> provides a number of tools to help with this, including a simple sign-up form
	you can put on your website's front page.</p>
<p>Take some time to look into the <a href="http://www.mailchimp.com">Mailchimp</a> list-building tools. You can start of by creating a 
	"test" list including only an email address or two of your own. Sending to that list will help give you a feel for how Hot Ink 
	Mailouts work.</p>
<p>Once you've created your test list, when you return to this page you'll see a new mailout form (provided you've already built an 
	<a href="/accounts/<%= @account.id %>/mailouts/templates">email template</a> to send it to).</p>