<h1>You need to create an email template</h1>
<p>In order to create a mailout, you need to create a mailout template first. Templates determine your mailout will look like and what it
	will contain. In order to create a template, visit the <a href="/accounts/<%= @account.id %>/mailouts/templates/new">new email template page</a>.</p>