<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <script src="/javascripts/builder.js" type="text/javascript"></script>
  <script src="/javascripts/prototype.js" type="text/javascript"></script>
  <script src="/javascripts/effects.js" type="text/javascript"></script>
  <script src="/javascripts/dragdrop.js" type="text/javascript"></script>
  <script src="/javascripts/overlay.js" type="text/javascript"></script>

  <link rel="stylesheet" href="/stylesheets/mailout.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
<%= yield %>
<p class="footer">&copy; 2009 Canadian University Press Media Services</p>
<script type="text/javascript" charset="utf-8">
	//Initialize Overlay
	var page_overlay = new Overlay ();
</script>
</body>
</html>