<h1>Mailouts</h1>
<p><a href="/accounts/<%= @account.id %>/mailouts/new">New mailout</a></p>
<ol id="mailouts">
	<% for campaign in @campaigns %>
		<li><a href="/accounts/<%= @account.id %>/mailouts/<%=campaign["id"]%>"><%= campaign["title"] %></a></li>
	<% end %>
</ol>
