<form action="/accounts/<%= @account.id %>/mailouts" method="POST">
  <fieldset>
	<legend>Create a new mailout</legend>
	<p>You can create a new mailout here. Once you've created it, you'll get a chance to preview it before it's delivered.</p>
	<fieldset>
		<legend>From</legend>
		<ol>
			<li><label>Email: <input type="text" name="mailout[from_email]" id="mailout_from_email" value="national@cup.ca" /></label></li>
			<li><label>Name: <input type="text" name="mailout[name]" id="mailout_name" value="Canadian University Press" /></label></li>
		</ol>
	</fieldset>
	<ol>
		<li><label>Subject: <input type="text" name="mailout[subject]" id="mailout_subject" value="CUP Newswire top stories for <%= Time.now.to_s(:simple) %>" /></label></li>
		<li><label>To: <input type="text" name="mailout[to_email]" id="mailout_to_email" value="national@cup.ca" /></label></li>
	</ol>
	<input type="submit" value="Create new mailout">
  </fieldset>
</form>