<p><a href="/accounts/<%= @account.id %>/mailouts/templates"><-- Back to email templates</a></p>
<form class="template_form" action="/accounts/<%= @account.id %>/mailouts/templates" method="POST">
  <fieldset>
	<legend>New email template</legend>
	<p>Email templates determine the appearance and format of your mailouts. While most email clients support HTML email,
		some don't so it's important to build both HTML and plain text email components.</p>
	<p>Email templates are written using a simple template language called "Liquid". Liquid is a simple extension of HTML that
		allows you to include data in a template using very basic programming tricks. It's quick and easy to learn, just 
		<a href="http://wiki.github.com/tobi/liquid/liquid-for-designers">click here</a> to read the simple guide to Liquid
		on the Liquid documentation wiki.</p>
		<p>When creating your template you have access to the following variables:</p>
		<p><strong>articles</strong> &ndash; a Liquid array of the articles in this mailout. Each article has the following pieces of accessible data:</p>
			<p style="padding-left: 30px"><strong>article.title</strong> &ndash; the article's title/headline.<br /><strong>article.subtitle</strong> &ndash; the article's subtitle/subhead.<br />
			<strong>article.authors_list</strong> &ndash; a nicely formatted list of the article's authors.<br /><strong>article.bodytext</strong> &ndash; the text of the article.<br />
			<strong>article.id</strong> &ndash; the id of this article, necessary for building links to your site.</p>
		<p><strong>note</strong> &ndash; the note supplied when creating the mailout.</p>
	<% if flash[:notice] %><p class="notice" style="color: red;"><%= flash[:notice] %><p><% end %>
	<ol>
		<li><label>Name <input type="text" name="template[name]" id="template_name" /></label></li>
		<li>
			<label for="template_html">HTML template</label>
			<textarea name="template[html]" id="template_html"></textarea>
		</li>
		<li>
			<label for="template_plaintext">Plain text template</label>
			<textarea name="template[plaintext]" id="template_plaintext"></textarea>
		</li>
	</ol>
  </fieldset>
  <input type="submit" value="Create template" />
</form>