<% form_tag user_activations_url, :class => "activation_form" do %>	
<fieldset>
	<legend>Add user</legend>
	<p>To add a new user to your account enter their <strong>email address</strong> below.</p>
	<div class="column_holder clearfix">	
		<div class="two_thirds_column">
			<%= text_field_tag "user_activation[email]", nil, :class=>"text_input" %>
		</div>
		<div class="third_column">
			<%= hidden_field_tag "account_id", @account.id %>
			<%= button_link_to_submit "Add user", :class=>"save large"%>
		</div>
	</div>
</fieldset>
<% end %>