<p>Tag selected with:</p>
<%= text_field_tag "add_tag[new_tag_list]", nil, :class=>"text_input" %><br />
<small>Separate tags with a comma</small>
<%= button_link_to_submit "Tag", :class=>"save large" %>