<p>Permanently delete the selected articles.</p>
<%= button_link_to_submit "Delete", :class=>"large cancel", :onclick=>"confirm( 'Are you sure you want to permanently delete the selected articles?');" %>