<p style="font-size: 0.9em; margin: 0 5em;">When you press "Publish" the articles below, if not already published, will become available online and marked as
	published at the current date and time. If you would like to publish these articles at a different date, select "Schedule"
	on the article page</p>

<%= button_link_to_submit "Publish", :class=>"publish large" %>