<p>Make the selected articles primary section:</p>
<%= select_tag("set_primary_section[section_id]", options_for_category_select(@account.categories), :class => :text_input)%>
<%= button_link_to_submit "Set section", :class=>"save large" %>