<h1>Listing images</h1>

<% for image in @images %>
  <p>
    <%= link_to image_tag(image.file.url(:system_thumb)), edit_account_image_path(@account, image) %>
   	<%= button_link_to 'Delete',[@account, image], :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>

<br />

<%= link_to 'New image', new_account_image_path(@account) %>
