<li id="account_<%= account.id %>" class="<%= cycle("even-row", "odd-row") %> clearfix">
	<div class="account clearfix">
		<h4><%= account.name %></h4>
		<p class="managers"><%= h account.managers_list %></p>
	</div>
</li>