<li id="user_<%= account_invitation.id %>" class="<%= cycle("even-row", "odd-row") %> clearfix">
	<div class="user clearfix">
		<p class="email"><%= account_invitation.email %></p>
		<p class="name">Invitation</p>
		<p class="kill_link"><%= link_to_remote "x", :url=>account_activation_url(account_invitation), :method => :delete, :update=>"accounts-window", :after=>"$(this).up().up().up().addClassName('transparent');" %></p>
	</div>
</li>