<li id="account_<%= account.id %>" class="<%= cycle("even-row", "odd-row") %> clearfix">
	<div class="account clearfix">
		<h4><%= link_to account.name, account_url(account) %></h4>
		<p class="managers"><small><%= h account.managers_list %></small></p>
	</div>
</li>