<li id="user_<%= user.id %>" class="<%= cycle("even-row", "odd-row") %> clearfix">
	<div class="user clearfix">
		<p class="email"><%= user.email %></p>
		<% if user.is_manager_of? @account %>
			<p>Manager</p>
		<% end %>
		<% if user.has_role? "admin" %>
			<p class="admin">Administrator</p>
		<% end %>
	</div>
</li>