<h2>Users</h2>
<ol id="users">
	<%= render @account.has_staff %>
	<%= render :partial => 'accounts/user_invitation', :collection => @user_activations %>
</ol>
<%= render :partial => 'user_activations/new_activation_form' %>