
<div id="accounts_index">
<h1>All accounts</h1>
<p class="note">Click account name to edit</p>
<table>
<% for account in @accounts %>
  <tr class="<%= cycle("even-row", "odd-row") %>">
    <td><%= link_to h(account.name), edit_account_path(account) %></td>
    <td style="text-align:right;"><%= button_link_to 'Delete', account, :confirm => 'Are you sure?', :method => :delete, :class=>"tiny cancel", :style=>"color:#FFF; margin:2px;"%></td>
  </tr>
<% end %>
</table>

<br />

<%= button_link_to 'New account', new_account_path %>
</div>